  <!-- JQUERY -->
  <script type="text/javascript" src="/utilities/jquery/datepicker-es.js"></script>
  <script type="text/javascript" src="/utilities/jquery/datepicker-en.js"></script>
  <!-- LOCAL SCRIPTS -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
