<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="/utilities/bootstrap/css/bootstrap.min.css">

  <!-- The link to the CSS file -->
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/settings.css">

  <title>Settings || <%= currentUser.username %></title>
</head>
<body>
