<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <!-- DO NOT CRAWL THIS PAGE: Any User Page -->

      <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="../../utilities/bootstrap/css/bootstrap.min.css">

      <!-- The link to the CSS file -->
      <link rel="stylesheet" href="../../stylesheets/app.css">

      <title>Neilit || <%= currentUser.username %></title>
    </head>
    <body>
      <!-- NAVIGATION BAR -->
      <div id="sideNav" class="sidenav">
        <div id="header-info" class="d-flex header-info mx-3 justify-content-between">
            <span class="navbar-header">NEILIT</span>
            <a id="close-menu" href="#">
              <img class="color-white menu-toggle" src="/imgs/icons/menu-open.svg" alt="">
            </a>
        </div>
        <div id="navigation-content" class="d-flex flex-column mt-4 mx-3">
          <span class="menu-element-fix my-1">
            <span>
              <img class="color-white menu-icons" src="/imgs/icons/home.svg" alt="">
            </span>
            <a href="/username">Inicio</a>
          </span>
          <span class="menu-element-fix my-1">
            <span>
              <img class="color-white menu-icons" src="/imgs/icons/donut.svg" alt="">
            </span>
            <a href="#">Estadisticas</a>
          </span>
          <span class="menu-element-fix my-1">
            <span>
              <img class="color-white menu-icons" src="/imgs/icons/journal.svg" alt="">
            </span>
            <a href="/username/journal">Diario</a>
          </span>
          <span class="menu-element-fix my-1">
            <span>
              <img class="color-white menu-icons" src="/imgs/icons/open-ops.svg" alt="">
            </span>
            <a href="#">Operaciones abiertas</a>
          </span>
          <span class="menu-element-fix my-1">
            <span>
              <img class="color-white menu-icons" src="/imgs/icons/security.svg" alt="">
            </span>
            <a href="/username/calculator">Calculadora de Riesgo</a>
          </span>
          <br>
          <!-- NOTE: the code below is used to add dynamic links to the app -->
          <!-- <hr class="rule-dynamic">
          <div class="menu-elements-dynamic">
            <span class="element-dynamic d-flex justify-content-between mb-1">
              <a href="#">Favoritos</a>
              <span>
                <img class="color-white menu-icons" src="../imgs/icons/arrow-d.svg" alt="">
              </span>
            </span> -->
            <!-- add rule-dynamic at the top of each element -->
            <!-- <hr class="rule-dynamic">
          </div> -->

          <a href="#user/settings" class="text-center mt-auto bottom-btn">
            Hello World
          </a>
        </div>
      </div>

      <!-- SEARCH BAR -->
      <section id="content" class="mt-4">
        <div id="search-header" class="search-bar d-flex mx-4">
          <a id="open-menu" class="open-menu ml-1 mr-4 d-none" href="#"><img src="/imgs/icons/menu.svg" class="open-menu"></a>
          <input id="search-bar" type="text" name="" value="" placeholder="¿Qué estás buscando?">
          <button id="trigger-search" class="align-self-bottom" type="button" name="button">
            <img src="/imgs/icons/search.svg" alt="">
          </button>
          <a href="/username/settings" class="mx-1 d-flex align-self-bottom"><img class="header-buttons" src="/imgs/icons/settings.svg" alt=""></a>
          <a href="#" class="d-flex align-self-bottom" role="button" onclick="openProfile()"><img class="header-buttons" src="/imgs/icons/profile.svg" alt=""></a>
        </div>
