<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">

      <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="/utilities/bootstrap/css/bootstrap.min.css">
      <!-- The link to the CSS file -->
      <link rel="stylesheet" href="/stylesheets/home.css">
      <!-- Stripe elements script -->
      <script src="https://js.stripe.com/v3/"></script>

      <title>Neilit Checkout</title>
    </head>
    <body>
