<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- BOOTSTRAP -->
      <link rel="stylesheet" href="/utilities/bootstrap/css/bootstrap.min.css">
      <!-- The link to the CSS file -->
      <link rel="stylesheet" href="/stylesheets/home.css">

      <title>Bienvenido Neilit || BETA</title>
    </head>
    <body>
