<%- include("./partials/header-home") %>

<div class="vh-100 d-flex align-items-center">
  <div class="bg-neilit vh-75 vh-md-50 w-100 d-flex flex-column justify-content-center align-items-center">
    <section class="mobile m-4">
      <h1>404</h1>
      <h2 class="text-left">Page not found</h2>
      <p>Perhaps you are here because:</p>
      <ul class="list-404">
        <li>The page has moved</li>
        <li>Teh page no longer exists</li>
        <li>You were looking for your puppy and got lost</li>
        <li>You like 404 pages</li>
      </ul>
      <hr>
      <a href="/" class="btn-404">Return to homepage</a>
    </section>
  </div>
</div>

<%- include("./partials/footer-home") %>
