<%- include("./partials/header-home") %>

<div id="home">

  <!-- 1st NAVBAR -->
  <!-- Size: L Y XL -->
  <div class="d-none d-lg-block">
    <nav class="navbar">

    <!-- email -->
    <ul class="navbar-nav">
      <li class="nav-item ml-2">
        <p class="mb-0">
          <img src="/imgs/icons-png/email.png" alt="email">
          info@neilit.com
        </p>
      </li>
    </ul>

    <!-- language -->
     <ul class="navbar-nav">
       <li class="nav-item">
          <a data-toggle="modal" data-target=".modal-language-lg" class="cursor-pointer ml-5">
            <img src="/imgs/icons-png/language.png" alt="language">
            <span>Idioma</span>
          </a>
          <!-- language modal -->
          <div class="modal modal-language-lg fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content text-center">
                <div class="modal-header">
                  <h5 class="modal-title">This feature is still in <strong>beta</strong>. Sorry for the inconvenience.</h5>
                </div>
                <div class="modal-body py-1">
                  <a class="mt-1" id="idiomaEnglish" data-dismiss="modal">English</a>
                  <a class="mt-1" id="idiomaSpanish" data-dismiss="modal">Spanish</a>
                  <a class="mt-1" id="idiomaCatalan" data-dismiss="modal">Catalan</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

     <!-- social media -->
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <p class="mb-0">
           <!-- facebook -->
           <img src="/imgs/icons-png/fb.png" alt="facebook" class="ml-2">
           <!-- instagram -->
           <img src="/imgs/icons-png/ig.png" alt="instagram" class="ml-2">
           <!-- youtube -->
           <img src="/imgs/icons-png/yt.png" alt="youtube" class="ml-2">
           <!-- linkedin -->
           <img src="/imgs/icons-png/linkedin.png" alt="linkedin" class="ml-2">
           <!-- twitter -->
           <img src="/imgs/icons-png/twitter.png" alt="twitter" class="ml-2">
         </p>
       </li>
     </ul>

   </nav>
 </div>

  <!-- Size: M -->
  <div class="d-none d-md-block d-lg-none">
    <nav class="navbar">

      <!-- email -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <p class="mb-0">
            <img src="/imgs/icons-png/email.png" alt="email">
            info@neilit.com
          </p>
        </li>
      </ul>

      <!-- language -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a data-toggle="modal" data-target=".modal-language-md" class="cursor-pointer ml-5">
            <img src="/imgs/icons-png/language.png" alt="language">
            <span>Idioma</span>
          </a>
          <!-- language modal -->
          <div class="modal modal-language-md fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content text-center">
                <div class="modal-header">
                  <h5 class="modal-title">This feature is still in <strong>beta</strong>. Sorry for the inconvenience.</h5>
                </div>
                <div class="modal-body">
                  <a class="mt-1" id="idiomaEnglish" data-dismiss="modal">English</a>
                  <a class="mt-1" id="idiomaSpanish" data-dismiss="modal">Spanish</a>
                  <a class="mt-1" id="idiomaCatalan" data-dismiss="modal">Catalan</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <!-- social media -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <p class="mb-0">
            <!-- facebook -->
            <img src="/imgs/icons-png/fb.png" alt="facebook" class="ml-2">
            <!-- instagram -->
            <img src="/imgs/icons-png/ig.png" alt="instagram" class="ml-2">
            <!-- youtube -->
            <img src="/imgs/icons-png/yt.png" alt="youtube" class="ml-2">
            <!-- linkedin -->
            <img src="/imgs/icons-png/linkedin.png" alt="linkedin" class="ml-2">
            <!-- twitter -->
            <img src="/imgs/icons-png/twitter.png" alt="twitter" class="ml-2">
          </p>
        </li>
      </ul>
    </nav>
  </div>


  <!-- 2nd NAVBAR -->
  <!-- Size: L Y XL -->
  <div class="d-none d-lg-block sticky-top">
    <nav class="navbar" id="sticky-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#!" class="btn-nav mr-4">Inicio</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#!" class="btn-nav mr-4">Como Funciona</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#!" class="btn-nav mr-4">Planes</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/wiki" class="btn-nav mr-4">Wiki</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- login -->
          <a class="btn-neilit ml-3" href="/login">Login</a>
          <!-- signup -->
          <a class="btn-inverted ml-3" href="/signup">Sign Up</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Size: M -->
  <div class="d-none d-md-block d-lg-none sticky-top">
    <nav class="navbar" id="sticky-nav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#!" class="btn-nav mr-4">Inicio</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#!" class="btn-nav mr-4">Como Funciona</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a href="#!" class="btn-nav mr-4">Estadísticas Personalizadas</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#!" class="btn-nav mr-4">Plataforma</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="" class="btn-nav mr-4">Planes</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/wiki" class="btn-nav mr-4">Wiki</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- login -->
          <a class="btn-neilit" href="/login">Login</a>
          <!-- signup -->
        </li>
      </ul>
    </nav>
  </div>

  <!-- Size: S Y XS -->
  <div class="d-block d-md-none sticky-top">
    <nav class="navbar" id="sticky-nav">
      <ul class="navbar-nav">
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- login -->
          <a class="btn-neilit" href="">Login</a>
          <!-- signup -->
          <a class="btn-white" href="">Sign up</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- flash messages -->
  <% if (error && error.length > 0) { %>
    <div id="flash-alert" class="position-absolute container">
      <div class="alert alert-danger mt-2" role="alert">
        <%= error %>
      </div>
    </div>
  <% } %>
  <% if (success && success.length > 0) { %>
    <div id="flash-alert" class="position-absolute container">
      <div class="alert alert-success mt-2" role="alert">
        <%= success %>
      </div>
    </div>
  <% } %>

  <!-- neilit home -->
  <div class="d-flex justify-content-center">
    <h1 id="neilit" class="mb-0">NEILIT</h1>
  </div>
  <div class="d-flex justify-content-center mb-2">
    <span class="circuloAnimado"></span>
    <h2>Analiza Tu Trading</h2>
  </div>
  <div class="d-flex justify-content-center">
      <a class="btn-neilit" href="#">Saber Más</a>
  </div>
</div>

<!-- content web -->
<div class="container text-center mt-4">
  <h1>¿Cómo Funciona Neilit?</h1>
  <span class="subtitle-sm">Sácale el máximo partido a tu trading</span>
</div>

<!-- Size: L Y XL -->
<div class="d-none d-lg-block mt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-4 text-right border-orange-r">
        <h3>
          <span class="orange">1.</span>
          Análisis Técnico
        </h3>
        <p class="hover-black">
          Guarda los datos de tus <span class="orange">análisis en Neilit</span>
          para poder acceder a las estadísticas de tus operaciones más adelante.
        </p>
      </div>
      <div class="col-lg-6 border-orange-l"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 border-orange-r"></div>
      <div class="col-lg-6 border-orange-l">
        <h3>
          <span class="orange">2.</span>
          Entrada
        </h3>
        <p class="hover-black">
          Cuando entres en una operación, introduce la información en Neilit.
          Podrás <span class="orange">vincular la entrada con un análisis técnico</span>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-right border-orange-r">
        <h3>
          <span class="orange">3.</span>
          Estadísticas
        </h3>
        <p class="hover-black">
          Conoce los detalles de tus operaciones gracias a las
          <span class="orange">estadísticas personalizadas</span>
          de Neilit. Saber tus puntos débiles es el primer paso para eliminarlos.
        </p>
      </div>
      <div class="col-lg-6 border-orange-l"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 border-orange-r"></div>
      <div class="col-lg-6 pb-2 border-orange-l">
        <h3>
          <span class="orange">4.</span>
          Mejora
        </h3>
        <p class="hover-black">
          Aplica las estadísticas anteriores a tu trading para
          <span class="orange">aumentar tu rentabilidad</span>.
          Nosotros te ayudaremos durante el proceso.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Size: M -->
<div class="d-none d-md-block d-lg-none">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 text-center">
        <h3>
          <span class="orange">1.</span>
          Análisis Técnico
        </h3>
        <p>
          Guarda los datos de tus <span class="orange">análisis en Neilit</span>
          para poder acceder a las estadísticas de tus operaciones más adelante.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <h3>
          <span class="orange">2.</span>
          Entrada
        </h3>
        <p>
          Cuando entres en una operación, introduce la información en Neilit.
          Podrás <span class="orange">vincular la entrada con un análisis técnico</span>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <h3>
          <span class="orange">3.</span>
          Estadísticas
        </h3>
        <p>
          Conoce los detalles de tus operaciones gracias a las
          <span class="orange">estadísticas personalizadas</span>
          de Neilit. Saber tus puntos débiles es el primer paso para eliminarlos.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <h3>
          <span class="orange">4.</span>
          Mejora
        </h3>
        <p>
          Aplica las estadísticas anteriores a tu trading para
          <span class="orange">aumentar tu rentabilidad</span>.
          Nosotros te ayudaremos durante el proceso.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Size: S Y XS -->
<div class="d-block d-md-none">
  <div class="container">
    <div class="text-center mt-3">
      <h3>
        <span class="orange">1.</span>
        Análisis Técnico
      </h3>
      <p class="hover-black">
        Guarda los datos de tus <span class="orange">análisis en Neilit</span>
        para poder acceder a las estadísticas de tus operaciones más adelante.
      </p>

    </div>
    <div class="text-center mt-3">
      <h3>
        <strong class="orange">2.</strong>
        Entrada
      </h3>
      <p class="hover-black">
        Cuando entres en una operación, introduce la información en Neilit.
        Podrás <span class="orange">vincular la entrada con un análisis técnico</span>.
      </p>
    </div>
    <div class="text-center mt-3">
      <h3>
        <span class="orange">3.</span>
        Estadísticas
      </h3>
      <p class="hover-black">
        Conoce los detalles de tus operaciones gracias a las
        <span class="orange">estadísticas personalizadas</span> de Neilit.
        Saber tus puntos débiles es el primer paso para eliminarlos.
      </p>
    </div>
    <div class="text-center mt-3">
      <h3>
        <span class="orange">4.</span>
        Mejora
      </h3>
      <p class="hover-black">
        Aplica las estadísticas anteriores a tu trading para
        <span class="orange">aumentar tu rentabilidad</span>.
        Nosotros te ayudaremos durante el proceso.
      </p>
    </div>
  </div>
</div>

<!-- Size: L Y XL -->
<div class="d-none d-lg-block mt-4">
  <div class="jumbotron py-4">
    <div class="container text-center">
      <h2>Mide lo importante</h2>
      <h2>Mejora tus resultados</h2>
      <p class="text-light mt-2">
        Con nuestras estadísticas personalizables conocerás las estrategias que
        mejor se adaptan a tu operativa. De esta manera podrás centrarte en lo
        que te funciona y sabrás donde puedes mejorar todavía. Conoce tu trading.
      </p>
      <a href="#!" class="btn-white">Reproducir</a>
    </div>
  </div>
</div>

<!-- Size: L Y XL -->
<div class="d-none d-lg-block">
  <div class="container">
    <h2 class="text-body">Estadístcas Personalizadas</h2>
    <h3 class="text-center">Obtén mayores rentabilidades</h3>
    <div class="row d-flex justify-content-center mt-4">
      <div class="col-lg-4 text-center">
        <img src="/imgs/icons/search-orange.svg" class="icon-content">
        <h3>Filtrar por Activos</h3>
        <p>
          Si quieres saber el porcentaje de <span class="orange">operaciones ganadoras</span>
          de un activo, simplemente selecciónalo y tendrás el dato al instante.
        </p>

      </div>
      <div class="col-lg-4 text-center">
        <img src="/imgs/icons/swap-orange.svg" class="icon-content">
        <h3>Dirección de la Entrada</h3>
        <p>
          Añade la posición que tomaste en la operación, ya sea
          <span class="orange">compra o venta</span>, para que los datos sean
          más precisos todavía.
        </p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 text-center">
        <img src="/imgs/icons/calendar-orange.svg" class="icon-content">
        <h3>Periodo Concreto</h3>
        <p>
          Filtra según la fecha de <span class="orange">apertura o cierre</span>
          de la aplicación para obtener datos más acotados.
        </p>

      </div>
      <div class="col-lg-4 text-center">
        <img src="/imgs/icons/chart-orange.svg" class="icon-content">
        <h3>Patrones Desencadenantes</h3>
        <p>
          Conoce que <span class="orange">patrones</span> son los que <span class="orange">más
          rentabilidad</span> aportan a tu cuenta y cuales son los más imprecisos.
        </p>
      </div>
    </div>
    <div class="row d-flex flex-column align-items-center">
      <img src="/imgs/icons/dots-orange.svg" class="icon-content">
      <h3>Más</h3>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-lg-4 d-flex flex-column text-center">
        <strong class="mt-2">
          <img src="/imgs/icons/wallet-orange.svg" class="icon-content-sm mr-2">
          Variación de tu cuenta
        </strong>
        <strong class="mt-2">
          <img src="/imgs/icons/widgets-orange.svg" class="icon-content-sm mr-2">
          Exportación de widget
        </strong>
      </div>
      <div class="col-lg-4 d-flex flex-column text-center">
        <strong class="mt-2">
          <img src="/imgs/icons/whatshot-orange.svg" class="icon-content-sm mr-2">
          Rentabilidad
        </strong>
        <strong class="mt-2">
          <img src="/imgs/icons/file-orange.svg" class="icon-content-sm mr-2">
          Informes personalizados
        </strong>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row d-flex flex-column text-center">
      <h2 class="text-body mt-5">
        Demo
        <span class="badge">Beta</span>
      </h2>
      <p class="mb-1">
        Crea una estadística personalizada sencilla con datos de muestra y
        descubre el potencial de Neilit por ti mismo.
      </p>
      <p>
        Sigue los pasos y descubre como se hace.
      </p>
    </div>

    <!-- statistics demo -->
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center mt-3 py-2" id="demo-statistics">
        <div class="text-center my-3 font-20">
          <span class="orange mr-2">1</span>
          Selecciona todos los activos que quieres estudiar:
        </div>
        <div class="row d-flex justify-content-center text-left mb-3">
          <div class="col-lg-4">
            <label class="checkbox-orange" id="eurusd">
              EUR/USD
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="gbpusd">
              GBP/USD
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="audjpy">
              AUD/JPY
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="nzdjpy">
              NZD/JPY
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="checkbox-orange" id="usdjpy">
             USD/JPY
             <input type="checkbox">
             <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="cadjpy">
              CAD/JPY
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="audusd">
              AUD/USD
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="usdchf">
              USD/CHF
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <div class="text-center my-3 font-20">
          <span class="orange mr-2">2</span>
          Selecciona la dirección de la entrada::
        </div>
        <div class="row d-flex justify-content-center text-left mb-3">
          <div class="col-lg-4">
            <label class="checkbox-orange" id="buy">
              Compra
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-lg-4">
            <label class="checkbox-orange" id="short">
              Venta
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <div class="text-center my-3 font-20">
          <span class="orange mr-2">3</span>
          ¿Que patrones fueron desencadenantes en la entrada?
        </div>
        <div class="row d-flex justify-content-center text-left mb-3">
          <div class="col-lg-5">
            <label class="checkbox-orange" id="trendline">
              Canal Paralelo
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="zone">
              Rotura de Zona
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="double-bottom">
              Doble Suelo
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="double-top">
              Doble Techo
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-lg-5">
            <label class="checkbox-orange" id="triangle">
              Triángulo
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="h&s">
              Hombros y Cabeza
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="fibonacci">
              Fibonacci
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox-orange" id="butterfly">
              Mariposa
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <div class="text-center d-flex flex-column font-20">
          Porcentaje de operaciones ganadoras:
          <span class="orange"><span id="winrate">-</span>%</span>
          <p class="font-13">*Datos aleatorios.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-5"></div>

<%- include("./partials/footer-home") %>
