<%- include("./partials/header-home") %>

<!-- Header -->
<div id="home-bg" class="d-flex flex-column">
  <!-- Upper Buttons Bar -->
  <nav class="navbar d-flex justify-content-end">
    <a class="m-2" href="#!">
      <img id="facebook-btn" src="/imgs/icons/facebook.svg" alt="">
    </a>
    <a class="m-2" href="#!">
      <img id="instagram-btn" src="/imgs/icons/instagram.svg" alt="">
    </a>
    <a id="login" class="btn m-2 my-lg-0 py-1" href="/login">
      Log In
    </a>
    <a id="signup" class="btn m-2 my-lg-0 py-1" href="/signup">
      Sing Up
    </a>
  </nav>
  <!-- LOGO GOES HERE -->
  <div id="home-logo" class="d-flex flex-column justify-content-center">
    <span class="m-0">
      <img src="/imgs/logo.svg" alt="">
      <h1>Upgrade you trading</h1>
    </span>
    <h2>
      ¿Sigues usando un diario? Pásate a lo digital. No pierdas más tiempo buscando. Encuéntralo todo a la primera.
    </h2>
    <br>
    <p class="info-tagline mb-0">
      SOLICITA TU CÓDIGO DE ACCESO
    </p>
    <div class="input-group mb-3 mx-auto">
      <input id="request-code" type="email" class="form-control" placeholder="sample@email.com">
      <div class="input-group-append">
        <button class="btn text-light" type="button">Button</button>
      </div>
    </div>
  </div>
</div>

<!-- Spacer -->
<br class="spacer">

<!-- Arrow -->
<div class="arrow">
  <img src="../imgs/icons/expand.svg" alt="">
</div>


<!-- Content -->
<section>
  <div id="home-bar" class="d-flex justify-content-center mx-5">
    <a href="#!" class="mx-3">Home</a>
    <a href="#!" class="mx-3">Neilit</a>
    <a href="#!" class="mx-3">Precios</a>
    <img class="mx-3" src="/imgs/logo_N.svg" alt="Neilit's N">
    <a href="#!" class="mx-3">Equipo</a>
    <a href="#!" class="mx-3">Noticias</a>
    <a href="#!" class="mx-3">Contacto</a>
  </div>
</section>




<%- include("./partials/footer-home") %>
