<%- include("./partials/header-home") %>

  <div class="home-nav d-flex justify-content-center">
    <h1 class="my-auto">N</h1>
  </div>

  <!-- LOGIN -->
  <section class="mt-5">
    <div class="home-form">
      <h1 class="m-0">Log in</h1>
      <h5 class="m-0">Accede a tu cuenta</h5>
      <hr class="line mt-2">
    </div>

    <form method="POST" action="/login">
      <div class="d-flex flex-column">
        <input class="my-1" type="email" name="email" placeholder="Correo electrónico">
        <input class="my-1" type="password" name="password" placeholder="Contraseña">
        <button class="btn text-light mt-1" type="submit">Entrar</button>
      </div>
    </form>

    <div class="home-form">
      <p class="mt-2 mb-0">¿No tienes una cuenta? <a href="\signup">Registrate</a></p>
      <p><a href="#">¿Has olvidado tu contraseña?</a></p>
    </div>
  </section>

<%- include("./partials/footer-home") %>
