<%- include("./partials/header-home") %>

<div class="vh-100 d-flex align-items-center">
  <div class="bg-neilit vh-50 w-100 d-flex flex-column justify-content-center">
    <section class="mobile m-4">
      <h1>N</h1>
      <p>We are sorry to inform you that Neilit is not yet optimized for small devices.</p>
      <hr>
      <p>We are working on it and we'll get back to you soon.</p>
    </section>
  </div>
</div>

<%- include("./partials/footer-home") %>
