<%- include("./partials/header-home") %>

<div class="bg-orange py-1">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1 class="text-light text-center mb-0">NEILIT</h1>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-5 mt-5 text-center">
      <h2 class="orange">Select Plan</h2>
      <p class="border-bottom pb-2 mb-3">Select the plan that better suits your needs</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 mx-3 plan p-3 text-center">
      <h3 class="mb-0">Free</h3>
      <span class="d-block">Give Neilit a go</span>
      <span class="d-block my-2">
        <span class="pricing">0</span>
        <span>€ / month</span>
      </span>
      <ul class="text-left pl-0 mx-3 mb-4">
        <li>Entries <span class="float-right">150</span></li>
        <li>Comments <span class="float-right">Unlimited</span></li>
        <li>Statistics <span class="float-right">Default</span></li>
        <li>Tecnical Analysis <span class="float-right">Unlimited</span></li>
        <li>Elements on TA <span class="float-right">10</span></li>
        <li>Backtesting addons <span class="float-right">1</span></li>
      </ul>
      <form action="/signup/select-plan" method="POST">
        <input type="text" name="priceId" value="<%= priceList[0] %>" class="d-none">
        <button class="btn-neilit" type="submit" name="button">Select</button>
      </form>
    </div>
    <div class="col-3 mx-3 plan p-3 text-center payed">
      <h3 class="mb-0">Legacy</h3>
      <span class="d-block">For serious traders</span>
      <span class="d-block my-2">
        <span class="pricing">4,99</span>
        <span>€ / month</span>
      </span>
      <ul class="text-left pl-0 mx-3 mb-4">
        <li>Entries <span class="float-right">Unlimited</span></li>
        <li>Comments <span class="float-right">Unlimited</span></li>
        <li>Statistics <span class="float-right">Custom Periods</span></li>
        <li>Tecnical Analysis <span class="float-right">Unlimited</span></li>
        <li>Elements on TA <span class="float-right">Unlimited</span></li>
        <li>Backtesting addons <span class="float-right">6</span></li>
      </ul>
      <form action="/signup/select-plan" method="POST">
        <input type="text" name="priceId" value="<%= priceList[1] %>" class="d-none">
        <button class="btn-inverted" type="submit" name="button">Select</button>
      </form>
    </div>
  </div>
</div>

<%- include("./partials/footer-home") %>
