<%- include("./partials/header-home") %>

<div class="bg-orange py-1">
  <div class="w-100 row mx-auto d-flex align-items-center">
    <div class="col-4">
      <a href="/" class="text-light">
        <img src="/imgs/icons/arrow-left.svg" class="icon-content-xs">
        Go Back
      </a>
    </div>
    <div class="col-4">
      <h1 class="text-light text-center mb-0">NEILIT</h1>
    </div>

    <div class="col-4 d-flex justify-content-end">
      <!-- Size: M, L Y XL -->
      <div class="d-none d-md-block text-light">
        Already a member?
        <a href="/login" class="text-light ml-1 hover-white">
          <strong>Log in</strong>
        </a>
      </div>
      <!-- Size: S Y XS -->
      <div class="d-block d-md-none">
        <a href="/login" class="text-light ml-1 hover-white">
          <strong>Log in</strong>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <!-- flash messages -->
  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
  <div class="row d-flex justify-content-center">
    <!-- NOTE: adjust the bootstrap class to change dimensions across different screens -->
    <div class="col-10 col-md-8 col-lg-5 text-center">
      <h2 class="orange">Sign Up</h2>
      <p class="border-bottom">Create a new account</p>
      <form class="d-flex flex-column" method="POST" action="/signup">
        <!-- first name -->
        <input class="mb-2 pl-2" type="text" required="required" name="name" value="" placeholder="First Name">
        <!-- last name -->
        <input class="mb-2 pl-2" type="text" required="required" name="surname"placeholder="Last Name">
        <!-- username -->
        <input class="mb-2 pl-2" type="text" required="required" name="username" placeholder="Username">
        <!-- email -->
        <input class="mb-2 pl-2" type="email" required="required" name="email" placeholder="Email">
        <!-- password -->
        <input class="mb-2 pl-2" type="password" required="required" name="password" placeholder="Password">
        <!-- confirm password -->
        <input class="mb-2 pl-2" type="password" required="required" name="confirmPassword" placeholder="Cofirm Password">
        <button class="btn-neilit" type="submit">Continuar</button>
      </form>
    </div>
  </div>
</div>

<div class="footer text-center w-100">
  <p class="font-13">Designed in Barcelona. Developed in Boston.</p>
</div>

<%- include("./partials/footer-home") %>
