<%- include("./partials/header-home") %>

  <div class="top-nav d-flex align-items-center justify-content-center">
    <span class="top-nav-n">N</span>
  </div>

  <!-- Signup Widget -->
  <section class="signlogin-section mt-5">
    <div class="widget-header">
      <p class="big m-0">Sign up</p>
      <p class="small m-0">Desata todo tu potencial con Neilit</p>
      <hr class="line mt-2">
    </div>
    <form method="POST" action="/signup">
      <div class="d-flex flex-column signup-form">
        <input class="form-input my-1" type="text" name="name" placeholder="Nombre">
        <input class="form-input my-1" type="text" name="surname" placeholder="Apellido">
        <input class="form-input my-1" type="text" name="username" placeholder="Nombre de usuario">
        <input class="form-input my-1" type="text" name="email" placeholder="Correo electrónico">
        <input class="form-input my-1" type="password" name="password" placeholder="Contraseña">
        <input class="form-input my-1" type="password" name="" placeholder="Confirmar contraseña">

        <div class="form-group form-check mt-3">
          <input type="checkbox" class="form-check-input" id="dataProtectionInformation">
          <label class="form-check-label" for="dataProtectionInformation">Al hacer click en Continuar, acepto los <span class="emphasize-word">Términos y Condiciones de Uso</span> de Neilit</label>
        </div>

        <button class="signlogin-button mt-4" type="submit">Continuar</button>
      </div>
    </form>

    <p class="mt-2">¿Ya tienes cuenta? <a href="\login">Entar</a></p>
  </section>

<%- include("./partials/footer-home") %>
