<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="/utilities/bootstrap/css/bootstrap.min.css">

  <!-- The link to the CSS file -->
  <link rel="stylesheet" href="/stylesheets/settings.css">


  <title>Neilit || Settings</title>
</head>
<body>
  <div class="m-5">
    <div class="container-flex mb-5">
      <div class="d-flex justify-content-around underline">
        <a href="#" class="settings-sections">Perfil</a>
        <a href="#" class="settings-sections">Cuenta y facturación</a>
        <a href="#" class="settings-sections">Configuración</a>
        <a href="#" class="settings-sections">Personalización</a>
        <a href="https://www.google.com" class="settings-sections">Ayuda y soporte</a>
      </div>
    </div>
    <div class="container-flex mb-5">
      <div class="d-flex flex-column align-items-center">
        <img src="/imgs/undefined.png" class="avatar mb-2">
        <a href="#" class="anchor-avatar">Editar foto</a>
      </div>
    </div>

    <div class="container-flex">
      <div class="row">
        <div class="col-6">
          <p class="settings-header mb-1">Información privada</p>
          <hr class="mt-1">
          <p class="settings-field mb-1">Email</p>
          <p class="settings-info">gelabert@neilit.com</p>
          <p class="settings-field mb-1">Nombre</p>
          <p class="settings-info">Jaume</p>
          <p class="settings-field mb-1">Apellido</p>
          <p class="settings-info">Gelabert</p>
          <p class="settings-field mb-1">Número de teléfono</p>
          <p class="settings-info">+34 645665435</p>
          <p class="settings-field mb-1">Contraseña</p>
          <p class="settings-info">*********</p>
        </div>
        <div class="col-6">
          <p class="settings-header mb-1">Información pública</p>
          <hr class="mt-1">
          <p class="settings-field mb-1">Nombre de usuario</p>
          <p class="settings-info">mmmitusss</p>
          <p class="settings-field mb-1">Activo favorito</p>
          <p class="settings-info">EUR/USD</p>
        </div>
      </div>
      <!-- Do NOT remove -->
      <div class="row">
        <a href="/logout" class="m-auto btn btn-danger">Sign out</a>
      </div>
    </div>
  </div>

</body>
</html>
