<%- include("../partials/header-user") %>

  <!-- CONTENT -->
  <!-- First widget has to be shown just once. It's a "what's new". The user must be able to close this widget.-->
  <div class="d-flex flex-row justify-content-center">
    <div class="container-global mt-2 mx-4 w-100">
      <div class="mt-2 mx-2">
        <!-- Second Widget on dashboard//home-->
        <div class="widget-100 container-updates ">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class=" d-flex flex-row justify-content-between mt-2 pt-1">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
              <h5 class="mb-0 py-1 ml-3">What's new?</h5>
            </div>
            <!--IMPORTANT: by clicking on the  img above, the user must be able to close the widget-->
            <a href="#" class="mr-2">
              <img src="../../imgs/icons/close-white.svg" class="py-1 imagen-widget opacity-1" alt="Close">
            </a>
          </div>
          <!-- Content of "Whats new" goes here!-->
          <!-- My idea (Jaume) is to put maximum 3 new features and if the user wants to see more, put that info in another page -->
          <div class="mb-2">
            <p class="mb-0 features-text mx-3 mt-1">
              Aquí encontrarás todas las novedades que vayamos introduciendo en la plataforma. Si quieres saber todo lo que hemos ido introduciendo
              a lo largo del tiempo, haz click en el botón de "todas las novedades". Estos cuadros solo apareceran cuando tengamos algo importante que contrarte.
            </p>
          </div>
          <div class="d-flex flex-row justify-content-center align-items-center pb-3">
            <a href="#" class="btn font-16">
              Todas las novedades
            </a>
            <a href="#" class="btn-second font-16">
              Sugerir funcionalidades
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-center">
    <div class="container-global mt-2 mx-4 w-100">
      <div class="mt-2 mx-2">
        <!-- Second Widget on dashboard//home-->
        <div class="widget-100">
          <!--PARTE SUPERIOR DEL WIDGET-->
          <div class="superior-widget d-flex flex-row justify-content-between mt-2 pt-1">
            <!--Superior Izquierda Widget-->
            <div class="d-flex flex-row align-items-center">
                <img src="../../imgs/icons/wallet.svg" class="mx-2 py-1 imagen-widget opacity-1" alt="Outcome">
              <h5 class="mb-0 py-1">Outcome</h5>
            </div>
            <!--Superior Derecha Widget-->
            <a href="#" class="mr-2">
              <div class="grey font-16 mb-0">
                <!--Dropdown temporalidad widget-->
                <div class="dropdown">
                  <button id="dLabel" class="dropdown-select grey font-16 mb-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Current week
                  </button>
                  <!--ARREGLARLO: Hay diferencia entre el "placeholder" y el texto en el dropdon. -->
                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>Today</li>
                    <li>Current week</li>
                    <li>Last week</li>
                    <li>Current month</li>
                    <li>Last month</li>
                    <li>Current semester</li>
                    <li>Last semester</li>
                    <li>Custom period</li>
                  </ul>
                </div>
              </div>
            </a>
          </div>
          <div class="">
            <div class="container-graph px-3 mt-2">
              <canvas id="resultsChart" width="300" height="250"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer-user") %>
