<%- include("../partials/header") %>

  <!-- CONTENT -->
  <div id="initial-user-screen" class="mt-3">

  </div>

<!-- <section> is inside partials -->
</section>

<%- include("../partials/footer") %>
