/* || Typography */
@font-face { font-family: Genera-AltLight; src: url("/fonts/Genera-AltLight.ttf");}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-Regular.ttf");}
@font-face { font-family: RobotoMono; src: url("/fonts/RobotoMono-Regular.ttf");}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-Light.ttf"); font-weight: lighter;}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-SemiBold.ttf"); font-weight: 500;}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-Bold.ttf"); font-weight: bold;}

:root{
  --naranja: #ff8818;
  --naranja-fuerte: #f57700;
}

/* || General styles */
body {
  font-family: Nunito;
  font-size: 18px;
}

h1 {
  font-weight: bold;
  font-size: 35px;
  color: white;
}

h3 {
  font-size: 1.5rem;
}

form {
  width: 100%;
}

/* || Search bar */
input[type=search] {
  height: 20px;
  padding: 10px 10px 10px 2.25rem;
	background: #ffffff url("/imgs/icons/search.svg") no-repeat 15px;
  border: 2px solid #ffffff;
  border-radius: 10em;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
  transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
  -webkit-box-sizing: content-box;
}
  input[type=search]:focus {
  	border-color: #ff8818;
    box-shadow: 0 0 5px rgba(225,225,225,1);
  	-webkit-box-shadow: 0 0 5px rgba(225,225,225,1);
  	-moz-box-shadow: 0 0 5px rgba(225,225,225,1);
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button {
    display: none;
  }

/* || Bootstrap class */
.modal-body { }
  .modal-body a {
    cursor: pointer;
  }
    .modal-body a:hover {
      color: #ff8818;
    }

/* || Utility */
.bg-grey {
  background-color: #f7f7f7;
}

/* || Utility */
.orange {
  color: #ff8818;
}
  a.orange {
    color: #ff8818;
    text-decoration: none;
  }
    a.orange:focus {
      outline: none;
    }

/* || Utility */
.cursor-pointer {
  cursor: pointer;
}

/* || Utility */
.outline-none { }
  .outline-none:focus {
    outline: none;
  }
  .outline-none:focus {
    outline: none;
  }

/* || Utility */
.font-13{
  font-size: 13px;
}

/* || Utility */
.btn-neilit {
  font-size: 16px;
  color: white;
  border: 0.5px solid #ff8818;
  border-radius: .25rem;
  background: #ff8818;
  transition-duration: .25s;
  padding: 0.25rem 0.5rem;
}
  .btn-neilit:hover {
    color: white;
    background-color: #f57700;
  }

/* || Utility */
.btn-inverted {
  font-size: 16px;
  color: #ff8818;
  border: 1.5px solid #ff8818;
  border-radius: .25rem;
  background-color: white;
  transition-duration: .25s;
  padding: 0.25rem 0.5rem;

}
  .btn-inverted:hover {
    color: white;
    background-color: #ff8818;
    text-decoration: none;
    transition-duration: .25s;
  }

/* Boton Upgrade SideBar */
.btn-upgrade{
  background: white;
  padding: 5px 10px;
  border: none;
  color: var(--naranja);
  border-radius: 7px;
  transition-duration: .25s;
}

  .btn-upgrade:hover{
    transform: translateY(-7px);
    transition-duration: .25s;
    -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.3);
  }

/* || DOM selector */
.element-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
 }
  .element-menu img {
    width: 26px;
  }

  .element-menu:hover {
    background: rgba(255,255,255,.15);
   }

.btn-top {
  width: 25px;
}

/* || Utility */
.info {
  height: 20px;
  opacity: 0.3;
  transition-duration: 0.15s;
}
  .info:hover {
    opacity: 0.6;
    transition-duration: 0.15s;
  }

#neilit-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: #ff8818;
  opacity: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
  #neilit-menu a {
    color: white;
  }
  #neilit-menu img{
    /* FIXME: load the icon in white color*/
    filter: invert(100%);
    -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
  }

#header-menu {
  height: 50px
}
  #header-menu img {
    width: 40px;
  }

#content-menu {
  height: calc(100% - 100px);
}

#content-menu a:hover{
  text-decoration: none;
}

#content {
  margin-left: 250px;
  transition: margin-left 0.5s;
}

#header-top {
  width: 100% - 250px;
}

#search{ }
  #search input[type=search] {
  	width: 0px;
  	cursor: pointer;
  }
    #search input[type=search]:hover {
    }
    #search input[type=search]:focus {
	    width: 375px;
	    padding-left: 2.25rem;
	    background-color: #ffffff;
	    cursor: auto;
    }

#toggle-c-menu { }
  #toggle-c-menu img {
    filter: none;
  }

/* || DOM selector */
#toggle-o-menu { }
  #toggle-o-menu img {
    width: 34px;
  }

/* CSS FINISHES HERE */
/* ///////////////// */
/* CSS from NEW ENTRY */


h6 {
  text-decoration: underline;
}

input {
  background: none;
  border: none;
}

textarea {
  width: 100%;
}

input.pair-title {
  font-family: Genera-AltLight;
  font-size: 40px;
}

input.icon-text {
  font-family: Genera-AltLight;
  font-size: 24px;
}

/* no default browser outline on inputs*/
input:focus {
  outline: none;
}

/* NOTE: remove defualt browser outline for SELECT options */



.submit-img {
  color: #000000;
  border-color: #000000;
}

.settings-icons {
  width: 25px;
}

.logout-icons {
  width: 25px;
}

.shrink-navigation-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.initial-icons {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.settingsDiv {
  min-width: 100px;
  width: 50%;
  max-width: 800px;
  height: 70%;
  max-height: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000033;
  border-radius: 5px;
  outline: none;
  opacity: 1;
  z-index: 11;
}

.settingsDiv iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  border: none;
  z-index: 11;
}

.settingsClose {
  position: absolute;
  z-index: 12;
  right: 10px;
  top: 10px;
}

.closeIcon {
  width: 24px;
  position: relative;
  display: block;
  left: 50%;
}

.closeImage {
  pointer-events: none;
}

.dark_cover{
  display: block;
  z-index:10;
  background-color: #000000 0% 0% no-repeat padding-box;
  opacity:.37;
  filter: alpha(opacity=00);
}

.watchlist .watchlist-item {
  color: black;
  font-size: 15px;
}

.watchlist .watchlist-item:hover {
  text-decoration: none;
  color: black;
}

#settings {
  color: black;
  text-align: right;
}

#logout {
  color: black;
  text-align: right;
}

#initial-user-screen {

}

/* #initial-user-screen button {
  color: black;
  background: #d5ddeb;
  border: 1px solid black;
  font-family: Genera-AltLight;
  max-width: 300px;
} */

/* -- UTILITIES -- */

.aDisappear {
  display: none;
}

.auto-center-element {
  margin: 0 auto;
}

.divide-width-70 {
  width: 70%;
}




/* --------------- */


/* --------------- */
/*  SETTINGS CSS   */
/* --------------- */

nav {
  background-color: #d5ddeb;
  border-bottom: 0.5px solid black;
}

.boundries {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 20px;
}

.nonactive:active {
  border: 0.5px solid black!important;
}

.settings-titles {
  border-bottom: 0.5px solid black;
}

.names-field {
  display: block;
  width: 400px;
  border: none;
  border-bottom: 1px solid grey;
}

.names-field:focus {
  outline: none;
}

#profile-image-change {
  margin: 0 auto;
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
}

/* -- UTILITIES -- */
.adjust-width {
  width: 400px;
}

.accept-btn {
  max-width: 100px;
}

.dropdown-toggle:focus {
  outline: none;
}

.absolute-toNav {
  position: fixed;
  top: 56px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
}

#first-settings-title {
  margin-top: 88px;
}

@media (min-width: 768px) {
  #first-settings-title {
    margin-top: 0px;
  }
}
/* --------------- */

/* ------------------------- */
/*  JOURNAL & JOURNAL ENTRY  */
/* ------------------------- */

.entry-sheet {
  margin: 0 auto;
  width: 90%;
  max-width: 1024px;
  min-width: 570px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  background-color: #e1e7e8;
}

.pair-title {
  color: navy;
  font-weight: bold;
}

.strategy {

}

.date {

}

.icon-entry {
  display: inline;
  width: 30px;
  margin-right: 5px;
}

.icon-text {
  display: inline;
  margin: auto 0;
}

.direction {

}

.widget {
  display: block;
}

.SS {
  width: 100%;
}

.field {
  text-decoration: underline;
}

.answer {

}

.fail-analysis {
  color: red;
}

.fail-analysis:hover {
  color: darkred;
}

.entry-size {
  text-align: right;
}

#backtesting {
  width: 100%;
  max-width: 360px;
}

#strategies {
  width: 100%;
  max-width: 720px;
}

/* --------------- */
/*    NEW ENTRY    */
/* --------------- */

.field-input {
  width: 100px;
  color: #FF8818;
  border-bottom: 1px solid #AAAAAA;
  padding-bottom: 0px;

}

#new {
  width: 100%;
  min-width: 364px;
}

.entry-strategy {

}

.journal-box .entry-comments textarea {
  font-family: Nunito;
  font-weight: lighter;
  font-size: 16px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.journal-box .entry-comments textarea::placeholder {
  font-family: Nunito;
  font-weight: lighter;
  font-size: 16px;
  color: #AAAAAA;
}

.journal-box .entry-comments textarea:focus {
  outline: none;
}

.journal-box .journal-button {
  font-size: 16px!important;
  color: white!important;
  border: 0.5px solid #FF8818!important;
  border-radius: .25rem!important;
  background-image: linear-gradient(#FFCF18, #FF8818)!important;
}

.journal-box .journal-altbutton {
  font-size: 16px!important;
  color: #FF8818!important;
  border: 1.5px solid #FF8818!important;
  border-radius: .25rem!important;
  background-color: white!important;
}

/* entry-strategy w/ valid strategy & without valid strategy */
.entry-strategy-valid {
  color: #FF8818;
}

.entry-strategy-invalid {
  color: #a9a9a9;
}

.entry-pair {

}

/* entry-pair w/ valid pair & without valid pair */
.entry-pair-valid {
  color: #FF8818;
}

.entry-pair-invalid {
  color: #a9a9a9;
}

.entry-price {
  text-align: right;
}

.entry-sl {
  text-align: right;
}

.entry-tp {
  text-align: right;
}

#entry-comment:focus {
  outline: none!important;
}
/* --------------------------------------------------------- */

/* --------------- */
/*     NEW TA      */
/* --------------- */
.block-title {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}

.block-text {
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.block-text:focus {
  outline-color: #FFCF18;
  outline-width: 2px;
  outline-style: dashed;
}

.block-image {
  max-width: 100%;
  max-height: 600px;
}

.div-image {
}

.or-style {
  font-weight: bold;
  font-size: 20px;
}

.upload-image-file {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: black!important;
  border: 1.5px solid #FFCF18!important;
  background-color: white!important;
}

.upload-image-url {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: black!important;
  border: 1.5px solid #FFCF18!important;
  background-color: white!important;
}

.submit-image {
  height: 40px;
  border-radius: 5px;
  color: black;
  border: 1px solid #FFCF18;
  background-color: #FFCF18;
}

.dropdown-menu a:active{
  background-color: #FFCF18;
}

#new-ta {
  width: 100%;
  min-width: 364px;
}

#add-ta-element {
  color: #FF8818!important;
  border: 1.5px solid #FF8818!important;
  background-color: white!important;
}

#add-ta-element:focus {
  box-shadow: none!important;
}

/* --------------- */
/*    SHOW-ENTRY   */
/* --------------- */
/* NOTE: there are some elements taken from previously
created CSS */

.entry-link {
  color: #7B7B7B;
}

.entry-link:hover {
  color: #7B7B7B;
}

#all-entries {
  width: 100%;
}

/* -------------------- */
/*  CATEGORY CHECKLIST  */
/* -------------------- */

.checklist-fav {
  width: 250px;
  height: 150px;
  color: white;
  text-align: center;
  background-color: #7B7B7B;
  background-image: linear-gradient(135deg, #FFCF18, #FF8818);
  border-radius: 5%;
}

#category-checklist a {
  display: block;
  color: #7B7B7B;
}

#favorites-checklist p {
  width: 100%;
  font-size: 18px;
  font-weight: bold
}

/*****
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FF8818;
  opacity: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  box-shadow:0 0px 10px rgba(0,0,0,0.1);
}

.sidenav a {
  font-family: Nunito;
  font-size: 18px;
  color: white;
  transition: 0.3s;
}

.header-info {
  height: 50px;
}

.navbar-header {
  color: white;
  font-family: Nunito;
  font-weight: 600;
  font-size: 40px;
}

#close-menu{
  transform: translateY(8px);
}

.menu-toggle {
  width: 40px;
}

.containerSidebarMenu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.sidebarLinkTag{
  width: 100%;
}

.sidebarLinkTag:hover{
text-decoration: none;
}

.containerFilaBoton{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.containerFilaBoton:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.color-white{
  -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
  filter: invert(100%);
}

.menu-icons {
  width: 26px;
}

.botonPaginaSidebar{
  background: none;
  color: white;
  border: none;
  padding-left: 10px;
}

.containerBotonUpgrade{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.upgradeToProButton{
  position: absolute;
  bottom: 15px;
  width: 90%;
  background: white;
  border: none;
  border-radius: 7px;
  color: #FF8818;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  transition-duration: 0.2s;
}
