/* || Typography */
@font-face { font-family: Nunito; src: url("/fonts/Nunito-Regular.ttf");}
@font-face { font-family: RobotoMono; src: url("/fonts/RobotoMono-Regular.ttf");}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-Light.ttf"); font-weight: lighter;}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-SemiBold.ttf"); font-weight: 500;}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-Bold.ttf"); font-weight: bold;}

:root {
  --invert-white:       #ffffff;
  --invert-black:       #000000;
  --white-none:         rgba(255,255,255,1);
  --neilit-permanent:   #ff8818;
  --neilit-default:     #ff8818;
  --neilit-altern:      #f57700;
  --neilit-white:       #ff8818;
  --neilit-black:       #ff8818;
  --neilit-soft:        #ff8818;
  --white-neilit:       #ffffff;
  --background-strong:  #ffffff;
  --background-medium:  #ffffff;
  --background-soft:    #ffffff;
  --background-neilit:  #ff8818;
  --text-contrast:      #212529;
  --text-grey:          #7b7b7b;
  --background-hover:   #f7f7f7;
  --red-strong:         #a10000;
  --red-invert:         #a10000;
  --box-background:     #ffffff;
  --grey-medium:        #eeeeee;
  --grey-strong:        #e5e5e5;
  --switch:             #eeeeee;
  --box-shadow: rgba(0,0,0,0.2);
}

:root.dark-mode {
  --invert-white:       #121212;
  --invert-black:       #ffffff;
  --white-none:         rgba(0,0,0,0);
  --neilit-default:     #272727;
  --neilit-white:       #ffffff;
  --neilit-black:       #000000;
  --neilit-soft:        #ffc085;
  --white-neilit:       #ff8818;
  --background-strong:  #121212;
  --background-medium:  #272727;
  --background-soft:    #474747;
  --background-neilit:  #474747;
  --background-hover:   #424242;
  --text-grey:          #a9a9a9;
  --box-background:     #272727;
  --text-contrast:      #dedad6;
  --red-invert:         #ffffff;
  --grey-medium:        #d0d0d0;
  --grey-strong:        #707070;
  --switch:             #777777;
  --box-shadow: rgba(255,255,255,0.2);
}

/* || General styles */
body {
  font-family: Nunito;
  font-size: 18px;
  color: var(--text-contrast);
  background-color: var(--background-strong);
}

h1 {
  font-weight: bold;
  font-size: 35px;
  color: white;
}

h3 {
  font-size: 1.5rem;
}

h6 {
  text-decoration: underline;
}

form {
  width: 100%;
}

input {
  background: none;
  border: none;
}
  input:focus {
    outline: none;
  }

/* || Search bar */
input[type=search] {
  height: 20px;
  padding: 10px 10px 10px 2.25rem;
	background: white url("/imgs/icons/search.svg") no-repeat 15px;
  border: 2px solid white;
  border-radius: 10em;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
  transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
  -webkit-box-sizing: content-box;
}
  input[type=search]:focus {
  	border-color: var(--neilit-default);
    box-shadow: 0 0 5px rgba(225,225,225,1);
  	-webkit-box-shadow: 0 0 5px rgba(225,225,225,1);
  	-moz-box-shadow: 0 0 5px rgba(225,225,225,1);
  }
  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button {
    display: none;
  }

/* || Utility */
.font-20 {
  font-size: 20px;
}

/* || Utility */
.font-18 {
  font-size: 18px;
}

/* || Utility */
.font-16 {
  font-size: 16px;
}

/* || Utility */
.font-14 {
  font-size: 14px;
}

/* || Utility */
.bg-hover {
  border-radius: .25rem;
}
  .bg-hover:hover {
    background-color: var(--background-hover);
  }

/* || Utility */
.bg-none {
  background: none;
  border: none;
}

/* || Bootstrap class */
.modal-body { }
  .modal-body a {
    cursor: pointer;
  }
    .modal-body a:hover {
      color: var(--neilit-default);
    }

/* || Utility */
.bg-grey {
  background-color: var(--background-hover);
}

/* || Utility */
.icon-20 {
  height: 20px;
  max-width: 20px;
  margin-right: 0;
}
  .dark-mode .icon-20 {
    filter: invert();
  }

/* || Utility */
.orange {
  color: var(--neilit-permanent);
}
  a.orange {
    color: var(--neilit-permanent);
    text-decoration: none;
  }
    a.orange:focus {
      outline: none;
    }

/* || Utility */
.cursor-pointer {
  cursor: pointer;
}

/* || Utility */
.outline-none { }
  .outline-none:focus {
    outline: none;
  }
  .outline-none:focus {
    outline: none;
  }

/* || Utility */
.font-13{
  font-size: 13px;
}

/* || Utility */
.btn-neilit {
  font-size: 16px;
  color: white;
  border: 0.5px solid var(--neilit-white);
  border-radius: .25rem;
  background: var(--neilit-default);
  transition-duration: .25s;
  padding: 0.25rem 0.5rem;
}
  .btn-neilit:hover {
    color: white;
    border-color: var(--neilit-permanent);
    background-color: var(--neilit-altern);
  }

/* || Utility */
.btn-inverted {
  font-size: 16px;
  color: var(--neilit-white);
  border: 1px solid var(--neilit-white);
  border-radius: .25rem;
  background-color: var(--background-medium);
  transition-duration: .25s;
  padding: 0.25rem 0.5rem;

}
  .btn-inverted:hover {
    color: var(--white-neilit)!important;
    background-color: var(--neilit-white);
    text-decoration: none;
    transition-duration: .25s;
  }

/* Boton Upgrade SideBar */
.btn-upgrade{
  background: white;
  padding: 5px 10px;
  border: none;
  color: var(--neilit-default);
  border-radius: 7px;
  transition-duration: .25s;
}

  .btn-upgrade:hover{
    transform: translateY(-7px);
    transition-duration: .25s;
    -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.3);
  }

/* || DOM selector */
.element-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
 }
  .element-menu img {
    width: 26px;
  }

  .element-menu:hover {
    background: rgba(255,255,255,.15);
   }

.btn-top {
  position: fixed;
  top: 25px;
  right: 25px;
}
  .btn-top img {
    width: 1.75rem;
    height: 1.75rem;
  }
    .dark-mode .btn-top img {
      filter: invert();
    }

/* || Utility */
.info {
  height: 20px;
  opacity: 0.6;
  transition-duration: 0.15s;
}
  .info:hover {
    opacity: 1;
    transition-duration: 0.15s;
  }

#neilit-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: var(--neilit-default);
  opacity: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}
  #neilit-menu a {
    color: white;
  }

#header-menu {
  height: 50px
}
  #header-menu img {
    width: 40px;
  }

#content-menu {
  height: calc(100% - 100px);
}

#content-menu a:hover{
  text-decoration: none;
}

#content {
  margin-left: 250px;
  transition: margin-left 0.5s;
}

#header-top {
  width: 100% - 250px;
}

#search{ }
  #search input[type=search] {
  	width: 0px;
  	cursor: pointer;
  }
    #search input[type=search]:hover {
    }
    #search input[type=search]:focus {
	    width: 375px;
	    padding-left: 2.25rem;
	    background-color: white;
	    cursor: auto;
    }

#toggle-c-menu { }
  #toggle-c-menu img {
    filter: none;
  }

/* || DOM selector */
#toggle-o-menu {
  position: fixed;
  top: 25px;
  left: 25px;
}
  #toggle-o-menu img {
    width: 34px;
  }
  .dark-mode #toggle-o-menu img {
    width: 2.25rem;
    height: 2.25rem;
    filter: invert();
  }
