/* || Typography */
@font-face { font-family: Nunito; src: url("/fonts/Nunito-Regular.ttf");}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-Light.ttf"); font-weight: lighter;}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-SemiBold.ttf"); font-weight: 500;}
@font-face { font-family: Nunito; src: url("/fonts/Nunito-Bold.ttf"); font-weight: bold;}

:root{
  --neilit-default: #ff8818;
  --neilit-altern: #f57700;
  --neilit-disable: #ffc58f;
  --yellow: #ffcf18;
  --green-strong: #4daa57;
  --blue-strong:#151B26;
  --background-hover: #f7f7f7;
  --grey: #aaaaaa;
  --grey-text: #7b7b7b;
}

/* || General styles */
body {
  font-family: Nunito;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  color: black;
}

h2 {
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

h3 {
  font-size: 25px;
  font-weight: 500;
  color: black;
}

h5 {
  font-weight: lighter;
  color: var(--neilit-default);
}

a { }
  a:hover{
    text-decoration: none;
  }

strong {
  font-weight: 600;
}

p {
  font-size: 17px;
  color: var(--grey-text);
}

button:disabled {
  margin: auto auto;
  background-color: var(--neilit-disable);
}
  button:disabled:hover {
    margin: auto auto;
    background-color: var(--neilit-disable);
  }

form { }
  form input {
    height: 35px;
    border: 1px solid var(--grey);
    border-radius: 7px;
    width: 300px;
  }
    form input:focus {
      color: black;
      border: 1px solid var(--neilit-default);
      outline: none;
    }
  form .payment-element {
    height: 35px;
    border: 1px solid var(--grey);
    border-radius: 7px;
    width: 300px;
    margin: 0 auto;
  }
  form .payment-element:hover {
    color: black;
    border: 1px solid var(--neilit-default);
    outline: none;
  }

.card-error {
  width: 300px;
  margin: 0 auto;
  color: red;
}

/* || Bootstrap class */
.nav-item { }
  li.nav-item{
    font-size: 13px;
  }
  .nav-item p {
    font-size: 13px;
    color: white;
  }
  .nav-item img {
    height: 17px;
  }

/* || Bootstrap class */
.jumbotron {
  background-color: var(--yellow);
  background-image: linear-gradient(to left, var(--yellow), var(--neilit-default));
}

/* || Bootstrap class */
.modal-body { }
  .modal-body button {
    cursor: pointer;
    font-size: 16px;
    color: black;
    background: none;
    border: none;
    outline: none;
    width: 100%;
  }
    .modal-body button:hover {
      background-color: var(--background-hover);
      border-radius: .25rem;
      color: var(--neilit-default);
    }

.social { }
  .social img {
    height: 20px;
  }

/* || Bootstrap class */
.badge {
  font-size: 15px;
  color: white;
  background-color: red;
  transform: translateY(-20px);
}

/* || Utility */
.orange {
  color: var(--neilit-default);
}

/* || Utility */
.bg-orange {
  background: var(--neilit-default);
}
  .bg-orange a:hover {
    color: white!important;
  }

/* || Utility */
.font-20 {
  font-size: 20px;
}

/* || Utility */
.font-16 {
  font-size: 16px;
}

/* || Utility */
.font-14 {
  font-size: 14px;
}

/* || Utility */
.font-13{
  font-size: 13px;
}

/* || Utility */
.color-gris{
  color: var(--grey-text);
}

/* || Utility */
.link-gris{
  color: var(--grey-text);
}
  .link-gris:hover{
    color: black;
  }

.resultadoDemo{
  font-size: 25px;
}

/* || Utility */
.cursor-pointer {
  cursor: pointer;
}

/* || Utility */
.hover-black {
  transition-duration: .5s;
}
  .hover-black:hover {
    transition-duration: .5s;
    color: black;
  }

/* || Utility */
.btn-neilit {
  font-size: 17px;
  color: white;
  background: var(--neilit-default);
  border: none;
  border-radius: 7px;
  padding: 7px 21px;
  transition-duration: .5s;
}
  .btn-neilit:hover {
    color: white;
    background: var(--neilit-altern);
    transition-duration: .25s;
  }

/* || Utility */
.btn-inverted {
  font-size: 17px;
  color: var(--neilit-default);
  background: white;
  border: 2px solid white;
  border-radius: 7px;
  padding: 5px 10px;
  transition-duration: .5s;
}
  .btn-inverted:hover {
    color: white;
    background: var(--neilit-default);
    transition-duration: .5s;
  }

/* || Utility */
.btn-white {
  font-size: 17px;
  color: white;
  border: 2px solid white;
  border-radius: 0.2em;
  padding: 5px 10px;
  transition-duration: .5s;
}
  .btn-white:hover {
    color: var(--neilit-default);
    background: white;
    transition-duration: .5s;
  }

/* || Utility */
.subtitle-sm {
  font-size: 20px;
  color: var(--grey-text);
}

/* || Utility */
.border-orange-r {
  border-right: 2px solid var(--neilit-default);
}
/* || Utility */
.border-orange-l {
  border-left: 2px solid var(--neilit-default);
}

/* || Bootstrap class */
.navbar {
  background: #151B26;
  color: white;
  padding-left: 30px;
  padding-right: 60px;
}
  @media (min-width: 768px) {
    .navbar {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
  @media (min-width: 992px) {
    .navbar {
      padding-left: 90px;
      padding-right: 103px;
    }
  }

.btn-nav {
  font-size: 16px;
  color: black;
  transition-duration: .5s;
}
  .btn-nav:hover {
    color: var(--neilit-default);
    text-decoration: none;
    transition-duration: .5s;
  }

.icon-content {
  height: 50px;
  width: 50px;
}

.icon-content-sm {
  height: 25px;
  width: 25px;
}

.icon-content-xs {
  height: 20px;
  width: 20px;
}

/* || Element Experiment */
.circuloAnimado{
  padding: 10px;
  background: var(--neilit-default);
  border-radius: 50px;
  width: 25px;
  height: 25px;
  animation-name: animacionCirculo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* || Plan box */
.plan {
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}
  .plan ul {
    list-style-type: none;
  }

.pricing {
  font-size: 32px;
}
/* || Plan box - PAYED */
.payed {
  color: white;
  background-color: var(--neilit-default);
}
  .payed h3 {
    color: white;
  }

/* || Dropdown Configuration */
.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 7px;
}
  .dropdown-menu li {
    line-height: 1.15;
    letter-spacing: 0.5px;
    cursor: pointer;
    padding: 5px 10px;
  }
    .dropdown-menu li:hover {
      background-color: var(--background-hover);
    }

.checkbox-orange {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .checkbox-orange input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
    .checkbox-orange:hover input ~ .checkmark {
      background-color: var(--background-hover);
    }
    .checkbox-orange input:checked ~ .checkmark {
      background-color: var(--neilit-default);
    }
    .checkbox-orange input:checked ~ .checkmark:after {
      display: block;
    }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  height: 15px;
  width: 15px;
  border: 2px solid var(--neilit-default);
  border-radius: 2px;
}
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

#sticky-nav {
  background-color: rgba(0, 0, 0, 0);
  padding: 15px 30px;
}
  @media (min-width: 768px) {
    #sticky-nav {
      background: white;
      padding: 15px 60px;
      box-shadow: 0px -4px 23px 21px rgba(0,0,0,0.08)
    }
  }
  @media (min-width: 992px) {
    #sticky-nav {
      padding: 15px 100px;
    }
  }

#home {
  height: 85vh;
  min-height: 450px;
  background-color: white;
  background-image: url("/imgs/home-bg.jpg");
  background-position: center;
  background-size: cover;
}

@keyframes animacionCirculo{
  0% {
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.container-steps{
  width: 100%;
}

.progressbar{
  counter-reset: step;
  padding-left: 0
}

.progressbar li{
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
  color: var(--grey-text);
}

.progressbar li::before{
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  background: white;
  border: 2px solid var(--neilit-default);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 28px;
}

.progressbar li::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--neilit-default);
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child::after{
  content: none;
}

.progressbar li.active{
  color: var(--grey-text);
}

.progressbar li.active::before{
  border-color: var(--neilit-default);
  background: var(--neilit-default);
  color: white;
}

.progressbar li.active + li:after{
  background-color: var(--neilit-default);
}

#neilit{
  font-size: 150px;
  font-weight: bold;
  color: var(--neilit-default);
  margin-top: 20vh;
}

#demo-statistics {
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition-duration: .5s;
}
  #demo-statistics:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition-duration: .5s;
  }

#flash-alert {
  left: 0;
  right: 0;
  z-index: 100;
}
