/* || Typography */
@font-face { font-family: Nunito; src: url("../fonts/Nunito-Regular.ttf");}
@font-face { font-family: Nunito; src: url("../fonts/Nunito-Light.ttf"); font-weight: lighter;}
@font-face { font-family: Nunito; src: url("../fonts/Nunito-SemiBold.ttf"); font-weight: 500;}
@font-face { font-family: Nunito; src: url("../fonts/Nunito-Bold.ttf"); font-weight: bold;}

/* || General styles */
body {
  font-family: Nunito;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  color: #ff8818;
}

h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 450px;
  margin: 0 auto;
}

h5 {
  font-weight: lighter;
}

button {
  color: white;
  border: none;
  background-color: black; /* for browsers that do not support gradients */
  background-image: linear-gradient(#FFCF18, #FF8818); /* standard syntax (must be last) */
}
  button:hover {
    color: white;
  }

form {
  display: inline;
}
  form div {
    margin: 0 auto;
    width: 400px;
  }
  form input {
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    height: 35px;
    padding-left: 8px;
  }
    form input:focus {
      outline: none;
    }
    form input::placeholder {
      color: #707070;
    }

.input-group {
  width: 450px;
}

.home-nav {
  width: 100%;
  height: 50px;
  background-color: #FF8818; /* for browsers that do not support gradients */
  background-image: linear-gradient(#FFCF18, #FF8818); /* standard syntax (must be last) */
}
  .home-nav h1 {
    font-weight: bold;
    color: white;
  }

.home-form {
  margin: 0 auto;
  width: 400px;
  text-align: center;
}
  .home-form a {
    color: #FF8818;
  }

.info-tagline {
  font-weight: bold;
  color: white;
  font-size: 21px;
}

/* || Bootstrap class */
.input-group { }
  .input-group input {
    border: none;
    opacity: 0.8;
  }
    .input-group input:focus {
      outline: none;
      box-shadow: none;
      border: none;
    }

/* || Utility */
.spacer {
  display: block;
  content: "";
  height: calc(100vh - 65px);
  z-index: -10;
}

.line {
  border: 1px solid #AAAAAA;
}

.e {  /* emphasis */
  color: #FF8818;
}

.arrow {
  text-align: center;
  height: 80px;
  position: relative;
}
  .arrow img {
    width: 80px;
    -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
    filter: invert(100%);
  }

#facebook-btn {
  width: 14px;
}

#instagram-btn {
  width: 27px;
}

#login {
  color: white;
  width: 100px;
  background-color: #FF8818; /* for browsers that do not support gradients */
  background-image: linear-gradient(#FFCF18, #FF8818); /* standard syntax (must be last) */
  border: none;
}

#signup {
  color: white;
  width: 98px;
  background-color: none;
  border: 1px solid white;
}

#home-bg {
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url("../imgs/homepage-BG.jpg");
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

#home-logo {
  height: 88%;
  text-align: center;
}
  #home-logo span {
    width: 100%;
    text-align: center;
  }
  #home-logo img {
    width: 380px;
  }

#home-bar { }
  #home-bar a {
    font-size: 18px;
    color: black;
    width: 60px;
    text-align: center;
  }
  #home-bar a:hover {
    color: black;
    text-decoration: none;
  }
  #home-bar img {
    width: 30px;
    height: 30px;
  }
