input {
  color: var(--invert-black);
}
  input.dropdown-search[type=text] {
    background-color: var(--background-medium);
    border-bottom: 1px solid var(--invert-black);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

.backtest {
  max-width: 90%;
}

/* || Bootstrap class */
.input-group .custom-select:not(:first-child){
  border-radius: .25rem!important;
  margin-left: .5rem;
}

/* || Bootstrap class */
.form-control {
  background-color: var(--background-medium);
}
  .form-control:focus {
    background-color: var(--background-hover);
  }

.input-group .form-control:not(:first-child){
  font-size: 18px;
  color: #ff8818;
  border: none;
  border-radius: .25rem!important;
  margin-left: .5rem;
}

/* || Bootstrap class */
.input-group .form-control:not(:first-child):focus {
  box-shadow: none;
}

/* || Bootstrap class */
.custom-select {
  color: #ff8818;
  height: auto;
}
  .custom-select:focus {
    border-color: #ced4da;
    box-shadow: none;
  }
  .custom-select:disabled {
    color: var(--neilit-permanent);
  }

.journal-box {
  padding: 15px 20px;
  background-color: var(--box-background);
  border-radius: 5pt;
  box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -webkit-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -moz-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
}
  .journal-box h3 {
    font-size: 1.25rem;
  }
  .journal-box a {
    color: var(--invert-black);
  }
  .journal-box .btn-inverted {
    color: var(--neilit-white)
  }
  .journal-box hr {
    margin-top: 0;
    border-color: var(--grey-medium);
  }
  .journal-box .journal-link {
    display: block;
    color: var(--text-grey);
  }

/* || Custom checkbox */
.checkbox-orange {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .checkbox-orange input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
    .checkbox-orange:hover input ~ .checkmark {
      background-color: var(--switch);
    }
    .checkbox-orange input:checked ~ .checkmark {
      background-color: var(--neilit-permanent);
    }
    .checkbox-orange input:checked ~ .checkmark:after {
      display: block;
    }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  height: 15px;
  width: 15px;
  border: 2px solid var(--neilit-permanent);
  border-radius: 2px;
  background-color: var(--box-background);
}
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

/* || Dropdown */
.dropdown-menu {
  padding: 0;
  margin: 0;
  background-color: var(--background-medium);
  border-radius: 7px;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -moz-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
}
  .dropdown button:hover, .dropdown button:focus {
    border: none;
    outline: 0;
  }
  .dropdown-menu li {
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: var(--text-grey);
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
  }
    .dropdown-menu li:hover {
      background-color: var(--background-hover);
      color: var(--invert-black);
    }

.info { }
  .dark-mode .info {
    filter: invert();
  }

.simple-img { }
  .dark-mode .simple-img {
    filter: invert();
  }

.comment-date {
  text-align: right;
  color: var(--text-grey);
  vertical-align: initial;
}

#dropdown-label {
  color: var(--invert-black);
  background: var(--background-strong);
  border: none;
  border-radius: .25rem;
}
  #dropdown-label:hover {
    background: var(--background-hover);
  }

#dropdown-items {
  height: 200px;
  width: 100%;
  overflow-y: auto;
}
