:root {
  --yellow-soft:   #fff3cd;
  --yellow-strong:   #856404;
  --yellow-border: #ffeeba;
  --red-soft:      #fddfdd;
  --red-border:    #f5c6cb;
  --green-soft:    #cbf6e5;
  --green-strong:  #155724;
  --green-border:  #c3e6cb;
}

:root.dark-mode {
  --red-strong: #721c24;
}

/* || General styles */
a { }
  a:hover {
    text-decoration: none;
  }

button {
  line-height: normal;
}

table {
  position: relative;
  border-collapse: collapse;
}

span .checkbox-orange {
  font-size: 18px;
}

.journal-box { }

.journal-scroll {
  max-height: 70vh;
  overflow-y: scroll;
}

.table { }
  .table td {
    vertical-align: middle;
  }

/* || Utility */
.form-fields { }
  .form-fields label {
    width: 165px;
  }
  .form-fields.backtest-fields label {
    width: 250px;
  }

  .form-fields .form-input {
    width: 500px;
    background-color: var(--background-hover);
    border-radius: .25rem;
    flex: none;
  }
  .form-fields .form-show {
    width: 240px;
    background-color: var(--background-hover);
    border-radius: .25rem;
    flex: none;
  }

.modal-fields { }
  .modal-fields label {
    width: 50%;
  }

.modal-input {
  width: 50%;
  background-color: var(--background-hover);
  border-radius: .25rem;
}

@media (min-width: 576px) {
  .modal-lg {
    max-width: 700px;
  }
  .form-fields .form-input {
    width: 400px;
  }
  #dropdown-label {
    width: 400px;
  }
}

.mandatory {
  font-weight: 500;
}

/* || Utility */
.placeholder-journal {
  color: var(--red-strong);
}

/* || Utility */
.pill {
  border-radius: 5pt;
  padding: 0 20px 0 20px;
  border: 1px solid transparent;
}
  .pill-green {
    color: var(--green-strong);
    background: var(--green-soft);
    border-color: var(--green-border);
  }
  .pill-red {
    color: var(--red-strong);
    background: var(--red-soft);
    border-color: var(--red-border);
  }
  .pill-yellow {
    color: var(--yellow-strong);
    background: var(--yellow-soft);
    border-color: var(--yellow-border);
  }

/* || Bootstrap class */
.modal { }
  .modal .checkmark {
    background-color: var(--background-soft);
  }
  .modal .dropdown .checkmark {
    background-color: var(--background-medium);
  }

.modal-content {
  background-color: var(--background-soft);
}

.modal-body { }
  .modal-body a { }
    .modal-body a:hover {
      color: var(--neilit-permanent)
    }

.close { }
  .close:focus {
    outline: none;
  }
  .dark-mode .close {
    filter: invert();
  }

/* || JQuery UI class */
.datepicker {
  cursor: pointer;
}
  input.datepicker:focus {
    border-color: var(--neilit-permanent);
    box-shadow: none;
  }

.ui-datepicker {
  width: 200px;
  background: var(--background-strong);
  border-radius: .25rem;
  box-shadow: 0 3px 6px var(--box-shadow);
  padding: 5px;
}

.ui-datepicker-header {
  margin-top: 10px;
}

.ui-datepicker-title {
  text-align: center;
  font-weight: 500;
}

.ui-datepicker-prev { }
.ui-datepicker-prev span {
  padding: 0 10px;
}
  .ui-datepicker-prev span:hover {
    background: var(--background-hover);
    border-radius: .25rem;
    cursor: pointer;
  }

.ui-datepicker-next { }
.ui-datepicker-next span {
  padding: 0 10px;
  float: right;
}
  .ui-datepicker-next span:hover {
    background: var(--background-hover);
    border-radius: .25rem;
    cursor: pointer;
  }

.ui-state-default {
  color: var(--text-grey);
}
  .ui-state-default:hover {
    color: var(--invert-black);
  }

.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}

.date-badge {
  display: block;
  color: #ff8818;
}

.dropdown-menu { }
  .dropdown-menu a {
    border-radius: .25rem;
  }
    .dropdown-menu a:active{
      color: white;
      background-color: #ff8818;
    }

.widget-trigger { }
  .widget-trigger span {
    font-weight: bold;
    color: #ff8818;
  }

.widget-general { }
  .widget-general span {
    font-weight: bold;
  }

.option-list {
  color: var(--neilit-permanent);
  background-color: var(--background-hover);
  border-radius: .25rem;
}
  .option-list:read-only {
    text-decoration: line-through;
  }

.non-wrap {
  white-space: nowrap;
}

.comment-entry {
  background-color: var(--background-strong);
}

.comment-tas {
  color: var(--neilit-whtie);
  border: 1px solid var(--neilit-white);
  border-radius: 5pt;
}

.table-action {
  background: none;
  border: none;
  padding: 0;
}
  .table-action:focus {
    outline: none;
  }
  .dark-mode .table-action img {
    filter: invert();
  }

.icon-btn {
  color: var(--black-inverted);
  background: none;
  border: none;
}
  .icon-btn:disabled {
    opacity: .2;
  }
    .dark-mode .icon-btn img {
      filter: invert();
    }

.backtest-result {
  color: var(--neilit-altern);
  background: var(--neilit-background);
  border-radius: .25rem;
  padding: 0 5px;
  margin: 0 10px
}

/* || spinner */
.spinner-border {
  color: var(--neilit-permanent);
}

/* || contenteditable */
.editcontent {
  color: var(--invert-black);
  background-color: var(--background-hover);
}
  .editcontent:focus {
    color: var(--invert-black);
    border-radius: .25rem;
    outline: none;
  }
  .editcontent[placeholder]:empty:before {
    content: attr(placeholder);
    color: var(--text-grey);
  }
  .editcontent[placeholder]:empty:focus:before {
    content: "";
  }

#add-e {
  color: var(--neilit-permanent);
  font-weight: 500;
  font-size: 16px;
  border-radius: .25rem;
}
  #add-e:hover {
    background-color: var(--background-hover);
  }
  #add-e:focus {
    box-shadow: none;
  }

.table-wrapper {
  position: relative;
}

.table-scroll {
  max-height: 70vh;
  overflow: auto;
}

.backtest-scroll {
  max-height: 70vh;
  overflow: auto;
}

/* || Index elements table */
#index-table {
  overflow: auto;
  border-collapse: separate;
  border-spacing: 40px 0px;
}
  #index-table th {
    color: var(--invert-black);
    padding: 0;
  }
  #index-table tbody tr td {
    color: var(--text-contrast);
    border-radius: 5pt;
    padding: .25rem;
    white-space: nowrap;
  }
    #index-table tbody tr:hover {
      cursor: pointer;
      background-color: var(--background-hover);
    }
  #index-table tbody tr .orange {
    color: var(--neilit-permanent);
  }

/* || Backtest table */
#backtest-table {
  display: block;
  overflow-x: scroll;
}
  #backtest-table thead {
    width: 100%;
  }
  #backtest-table tbody {
    width: 100%;
  }
  #backtest-table > thead > tr > th {
    border: none;
    white-space: nowrap;
    padding: 0 20px;
  }
  #backtest-table th {
    position: sticky;
    top: 0;
  }
    #backtest-table th:nth-child(1) {
      border-radius: .25rem 0 0 0;
    }
    #backtest-table th:nth-last-child(1) {
      border-radius: 0 .25rem 0 0;
    }
  #backtest-table tr th {
    text-align: center;
    background-color: var(--background-soft);
    color: var(--invert-black);
  }
  #backtest-table tr td {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    padding: 0 15px;
  }
  #backtest-table td {
  color: var(--text-contrast);
  border-radius: .15rem;
  }

/* || Technical Analysis Elements */
/* FIXME: refactor unecessary specification */
#ta-content { }
  #ta-content .title {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    border-radius: .25rem;
    text-decoration: underline;
  }
    #ta-content .title:hover {
      background-color: var(--background-hover);
    }
    ::-webkit-input-placeholder {
    text-decoration: none;
}
  #ta-content .text {
    width: 100%;
    border-radius: .25rem;
    overflow: auto;
  }
    #ta-content .text:hover {
      background-color: var(--background-hover);
    }
    #ta-content .image div {
      border-radius: .25rem;
      line-height: 40px;
    }
      #ta-content .image div:hover {
        background-color: var(--background-hover);
      }
    #ta-content .image input {
      max-width: 300px;
      border: 1px solid #ff8818;
      border-radius: .25rem;
      max-height: 45px;
    }
  #ta-content .image-src {
    max-width: 100%;
    max-height: 600px;
  }
  #ta-content .strategy div {
    border-radius: .25rem;
  }
    #ta-content .strategy div:hover {
      background-color: var(--background-hover);
    }
  #ta-content #dropdown-label {
    background-color: var(--neilit-background);
  }
  #ta-content .move{
    display: inline;
    cursor: pointer;
  }
    .dark-mode #ta-content .move {
      filter: invert();
    }
  #ta-content .drop {
    display: inline;
    cursor: pointer;
  }
  .dark-mode #ta-content .drop {
    filter: invert();
  }

#addon {
  color: var(--black-inverted);
  background: none;
  border: none;
}
  #addon:active {
    outline: none;
  }
  #addon:focus {
    outline: none;
  }
  .dark-mode #addon img {
    filter: invert();
  }

#add-addon-field { }
  #add-addon-field:active {
    outline: none;
  }
  #add-addon-field:focus {
    outline: none;
  }

#addons { }
  #addons label {
    font-size: 18px;
  }

#row-index {
  min-height: 40px;
}

#dropdown-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  .ta-pair#dropdown-label {
    color: var(--neilit-permanent);
  }
  .entry-input #dropdown-label {
    color: var(--neilit-permanent);
  }
  #dropdown-label.disabled {
    color: var(--invert-white);
    background: var(--grey-strong);
    cursor: no-drop;
  }

/* strange div bottom page */
#ui-datepicker-div {
  display: none;
}
