:root {

  /* || LIGHT MODE & Base colors || */
  --grey-1: #F7F7F7; /*Soft*/
  --grey-2: #EEEEEE; /*Medium*/
  --grey-3: #E5E5E5; /*Strong*/
  --grey-text: #7B7B7B; /*Just text*/
  --red-1: #FDDFDD; /*Soft*/
  --red-2: #EE0000; /*Strong*/
  --green-1: #CBF6E5; /*Soft*/
  --green-2: #4DAA57; /*Strong*/
  --yellow: #FFCF18; /*Warning*/
  --neilit-1: #FF8818; /*Original*/
  --neilit-2: #F57700; /*Strong*/
  --blue-1: #007BFF; /* */

  /* || DARK MODE || */
  /* Some colours are the same than the LIGHT MODE. We dont duplicate code.*/
  --white: #FFFFFF; /*Just text*/
  --black-1: #424242; /*Soft*/
  --black-2: #272727; /*Medium*/
  --black-3: #121212; /*Strong*/
}

/* || General styles */
table {
  position: relative;
  border-collapse: collapse;
}
  table th {
    font-weight: normal;
    text-align: center;
    color: white;
    border: 1px solid var(--neilit-1);
    margin: auto;
  }
    table th:nth-child(1){
      border-radius: .25rem 0 0 0;
    }
    table th:nth-last-child(1){
      border-radius: 0 .25rem 0 0;
    }
  table > thead > tr > th{
    border: none;
  }

tr { }
  tr th {
    text-align: center;
    background-color: white;
    color: grey;
    width: 40px;
    border: 1px solid var(--neilit-1);
  }
  tr td{
    cursor: pointer;
    text-align: center;

  }

td{
  border-radius: 7px;
}
  td:hover{
    background: var(--grey-2);
  }
    td a{
      color: black;
    }
      td a:hover{
        text-decoration: none;
        color: black;
      }

/* th {
  position: sticky;
  top: 0;
} */

span .checkbox-orange {
  font-size: 18px;
}

.journal-box .btn-neilit {
  color: white;
}
  .journal-box .btn-neilit:hover {
    text-decoration: none;
  }
  .journal-box .btn-inverted {
    color: var(--neilit-1);
  }
    .journal-box .btn-inverted:hover {
      color: white;
    }

.table { }
  .table td {
    vertical-align: middle;
  }

.info-box {
  border: 3px solid purple;
  border-radius: .25rem;
}

/* || Utility */
.mandatory {
  font-weight: bold
}

/* || JQuery UI class */
.ui-datepicker {
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  /* FIXME: When we put padding, something strange appears at the bottom of the screen. */
  padding: 5px;
}

.ui-datepicker-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
  .ui-datepicker-prev {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }
    .ui-datepicker-prev:hover {
      background: var(--grey-2);
      cursor: pointer;
    }

  .ui-datepicker-next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
    .ui-datepicker-next:hover {
      background: var(--grey-2);
      cursor: pointer;
    }

.date-badge {
  display: block;
  color: var(--neilit-1);
}

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  border: none;
}
  .dropdown-menu a {
    border-radius: .25rem;
  }
    .dropdown-menu a:active{
      color: white;
      background-color: var(--neilit-1);
    }

.widget-trigger { }
  .widget-trigger span {
    font-weight: bold;
    color: var(--neilit-1);
  }

.widget-general { }
  .widget-general span {
    font-weight: bold;
  }

.tag {
  color: white;
  padding: 0 20px 0 20px;
  border-radius: .25rem;
}
  /*If the colours ara soft, change "1" for "2"*/
  .tag.win {
    background: var(--green-1) 0% 0% no-repeat padding-box;
  }
  .tag.loss {
    background: var(--red-1) 0% 0% no-repeat padding-box;
  }
  .tag.be {
    background: var(--yellow) 0% 0% no-repeat padding-box;
  }

.option-list {
  background-color: var(--grey-1);
  border-radius: .25rem;
}
  .option-list:read-only {
    text-decoration: line-through;
  }

.non-wrap {
  white-space: nowrap;
}

.table-action {
  background: none;
  border: none;
  padding: 0;
}

#client-comment {
  color: black;
}
  #client-comment:focus {
    color: black;
    background-color: var(--grey-1);
    border-radius: .25rem;
    outline: none;
  }
  #client-comment[placeholder]:empty:before {
    content: attr(placeholder);
    color: var(--grey-text);
  }
  #client-comment[placeholder]:empty:focus:before {
    content: "";
  }

#add-e {
  color: var(--neilit-1);
  font-weight: 500;
  font-size: 16px;
  border-radius: .25rem;
}
  #add-e:hover {
    background-color: var(--grey-1);
  }
  #add-e:focus {
    box-shadow: none;
  }

/* || Technical Analysis Elements */
/* FIXME: refactor unecessary specification */
#ta-content { }
  #ta-content .title {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    border-radius: .25rem;
    text-decoration: underline;
  }
    #ta-content .title:hover {
      background-color: var(--grey-1);
    }
  #ta-content .text {
    width: 100%;
    border-radius: .25rem;
    overflow: auto;
  }
    #ta-content .text:hover {
      background-color: var(--grey-1);
    }
    #ta-content .image div {
      border-radius: .25rem;
    }
      #ta-content .image div:hover {
        background-color: var(--grey-1);
      }
    #ta-content .image input {
      max-width: 300px;
      border: 2px solid var(--neilit-1)
      border-radius: .25rem;
    }
  #ta-content .image-src {
    max-width: 100%;
    max-height: 600px;
  }
  #ta-content .strategy div {
    border-radius: .25rem;
  }
    #ta-content .strategy div:hover {
      background-color: var(--grey-1);
    }
  #ta-content .move{
    display: inline;
    cursor: pointer;
  }
  #ta-content .drop {
    display: inline;
    cursor: pointer;
  }

#addons { }
  #addons label {
    font-size: 18px;
  }

#addon {
  background: none;
  border: none;
}

#row-index {
  min-height: 40px;
}
