:root{
  --gris-flojo: #F7F7F7;
  --gris-medio: #EEEEEE;
  --gris-fuerte: #E5E5E5;
  --gris-texto: #7B7B7B;
  --rojo-fuerte: #EE0000;
  --azul-primario: #007BFF;
}

/* || General styles */
table {
  position: relative;
  border-collapse: collapse;
}
  table th {
    font-weight: normal;
    text-align: center;
    color: white;
    border: 1px solid #ff8818;
    margin: auto;
  }
    table th:nth-child(1){
      border-radius: .25rem 0 0 0;
    }
    table th:nth-last-child(1){
      border-radius: 0 .25rem 0 0;
    }
  table > thead > tr > th{
    border: none;
  }

tr { }
  tr th {
    text-align: center;
    background-color: white;
    color: grey;
    width: 40px;
    border: 1px solid #ff8818;
  }
  tr td{
    cursor: pointer;
    text-align: center;

  }

td{
  border-radius: 7px;
}
  td:hover{
    background: var(--gris-medio);
  }
    td a{
      color: black;
    }
      td a:hover{
        text-decoration: none;
        color: black;
      }

/* th {
  position: sticky;
  top: 0;
} */

span .checkbox-orange {
  font-size: 18px;
}

.journal-box .btn-neilit {
  color: white;
}
  .journal-box .btn-neilit:hover {
    text-decoration: none;
  }
  .journal-box .btn-inverted {
    color: #ff8818;
  }
    .journal-box .btn-inverted:hover {
      color: white;
    }

.table { }
  .table td {
    vertical-align: middle;
  }

.info-box {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

/* || Utility */
.bg-hover {
  border-radius: .25rem;
}
  .bg-hover:hover {
    background-color: #f7f7f7;
  }

/* || Utility */
.mandatory {
  font-weight: bold
}

/* || JQuery UI class */
.ui-datepicker {
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  /* FIXME: When we put padding, something strange appears at the bottom of the screen. */
  padding: 5px;
}

.ui-datepicker-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
  .ui-datepicker-prev {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }
    .ui-datepicker-prev:hover {
      background: var(--gris-medio);
      cursor: pointer;
    }

  .ui-datepicker-next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
    .ui-datepicker-next:hover {
      background: var(--gris-medio);
      cursor: pointer;
    }

.date-badge {
  display: block;
  color: #ff8818;
}

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  border: none;
}
  .dropdown-menu a {
    border-radius: .25rem;
  }
    .dropdown-menu a:active{
      color: white;
      background-color: #ff8818;
    }

.widget-trigger { }
  .widget-trigger span {
    font-weight: bold;
    color: #ff8818;
  }

.widget-general { }
  .widget-general span {
    font-weight: bold;
  }

.tag {
  color: white;
  padding: 0 20px 0 20px;
  border-radius: .25rem;
}
  .tag.win {
    background: #10C0008B 0% 0% no-repeat padding-box;
  }
  .tag.loss {
    background: #FF000080 0% 0% no-repeat padding-box;
  }
  .tag.be {
    background: #FFCF18A6 0% 0% no-repeat padding-box;
  }

.option-list {
  background-color: #f7f7f7;
  border-radius: .25rem;
}
  .option-list:read-only {
    text-decoration: line-through;
  }

.non-wrap {
  white-space: nowrap;
}

.table-action {
  background: none;
  border: none;
  padding: 0;
}

#client-comment {
  color: black;
}
  #client-comment:focus {
    color: black;
    background-color: #f7f7f7;
    border-radius: .25rem;
    outline: none;
  }
  #client-comment[placeholder]:empty:before {
    content: attr(placeholder);
    color: #7b7b7b;
  }
  #client-comment[placeholder]:empty:focus:before {
    content: "";
  }

#add-e {
  color: #ff8818;
  font-weight: 500;
  font-size: 16px;
  border-radius: .25rem;
}
  #add-e:hover {
    background-color: #f7f7f7;
  }
  #add-e:focus {
    box-shadow: none;
  }

/* || Technical Analysis Elments */
/* FIXME: refactor unecessary specification */
#ta-content { }
  #ta-content .title {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    border-radius: .25rem;
    text-decoration: underline;
  }
    #ta-content .title:hover {
      background-color: #f7f7f7;
    }
  #ta-content .text {
    width: 100%;
    border-radius: .25rem;
    overflow: auto;
  }
    #ta-content .text:hover {
      background-color: #f7f7f7;
    }
  #ta-content .image {
    border-radius: .25rem;
  }
    #ta-content .image:hover {
      background-color: #f7f7f7;
    }
    #ta-content .image input {
      max-width: 300px;
      border: 2px solid #ff8818;
      border-radius: .25rem;
    }
  #ta-content .image-src {
    max-width: 100%;
    max-height: 600px;
  }
  #ta-content .strategy {
    border-radius: .25rem;
  }
    #ta-content .strategy:hover {
      background-color: #f7f7f7;
    }
  #ta-content .move{
    display: inline;
    cursor: pointer;
  }
  #ta-content .drop {
    display: inline;
    cursor: pointer;
  }

#addons { }
  #addons label {
    font-size: 18px;
  }

#addon {
  background: none;
  border: none;
}

#row-index {
  min-height: 40px;
}
