:root {

  /* || LIGHT MODE & Base colors || */
  --grey-1: #F7F7F7; /*Soft*/
  --grey-2: #EEEEEE; /*Medium*/
  --grey-3: #E5E5E5; /*Strong*/
  --grey-text: #7B7B7B; /*Just text*/
  --red-1: #FDDFDD; /*Soft*/
  --red-2: #EE0000; /*Strong*/
  --green-1: #CBF6E5; /*Soft*/
  --green-2: #4DAA57; /*Strong*/
  --yellow: #FFCF18; /*Warning*/
  --neilit-1: #FF8818; /*Original*/
  --neilit-2: #F57700; /*Strong*/
  --blue-1: #007BFF; /* */

  /* || DARK MODE || */
  /* Some colours are the same than the LIGHT MODE. We dont duplicate code.*/
  --white: #FFFFFF; /*Just text*/
  --black-1: #424242; /*Soft*/
  --black-2: #272727; /*Medium*/
  --black-3: #121212; /*Strong*/
}

/* || General styles */
ul { }
  ul li {
    list-style-type: none;
  }

input { }
  input.form-control {
    background-color: var(--grey-1);
    border-color: var(--grey-1);
  }
    input.form-control:focus {
      background-color: var(--grey-1);
      box-shadow: none;
      border-color: var(--grey-1);
    }

button.dropdown-select {
  border: 0;
  background-color: inherit;
  color: var(grey-text);
}
  button.dropdown-select:hover {
    color: black;
  }

.journal-box {
  padding: 15px 20px;
  border-radius: 5pt;
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}
  .journal-box h3 {
    font-size: 1.25rem;
  }
  .journal-box hr {
    margin-top: 0;
  }
  .journal-box a {
    color: white;
  }
    .journal-box a:hover {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }
  .journal-box input {
    color: var(--neilit-1);
    border-radius: .25rem;
  }
  .journal-box .dropdown-item {
    color: black;
  }
    .journal-box .dropdown-item:hover {
      color: black;
    }
    .journal-box .dropdown-item:active {
      color: white;
      background-color: var(--neilit-1);
    }


.plan-box {
  border: 3px solid purple;
    /*SPANISH: Es el recuadro que aparece alrededor de un trading plan, cambiarlo por un hover como los demás elementos*/
  border-radius: .25rem;
  padding: .25em;
}

/* || Custom checkbox */
.checkbox-orange {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .checkbox-orange input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
    .checkbox-orange:hover input ~ .checkmark {
      background-color: var(--grey-2);
    }
    .checkbox-orange input:checked ~ .checkmark {
      background-color: var(--neilit-1);
    }
    .checkbox-orange input:checked ~ .checkmark:after {
      display: block;
    }

.dropdown { }
  .dropdown button:hover, .dropdown button:focus {
    border: none;
    outline: 0;
  }

.dropdown-menu {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}
  .dropdown-menu li {
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: var(--grey-text);
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
  }

  .dropdown-menu li:hover {
    background-color: var(--grey-1);
    color: black;
  }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  height: 15px;
  width: 15px;
  border: 2px solid var(--neilit-1);
  border-radius: 2px;
}
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

/* || Bootstrap class */
.dropdown-toggle { }
  .dropdown-toggle:focus {
    outline: none;
  }

/* || Bootstrap class */
.dropdown-divider {
  margin: 0;
}

/* || Bootstrap class */
.input-group-append { }
  .input-group-append button {
    font-size: 16px;
    color: white;
    background-color: var(--neilit-1);
    border: 1px solid var(--neilit-1);
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

.diveditable {
  color: black;
}
  .diveditable:focus {
    color: black;
    background-color: var(--grey-1);
    border-radius: .25rem;
    outline: none;
  }
  .diveditable[placeholder]:empty:before {
    content: attr(placeholder);
    color: darkGray;
      /*SPANISH: No se donde está esto y no se por que color cambiarlo*/
  }
  .diveditable[placeholder]:empty:focus:before {
    content: "";
  }

.strategy-title {
  color: var(--neilit-1);
  border: 1px solid var(--neilit-1);
  border-radius: .25rem;
  padding: 0.25rem 0.5rem;
}

/* || Show plan highlight */
.user-field {
  padding: 0.15em 0.25em;
}
  .user-field:hover {
    background-color: #f5bc87;
      /*SPANISH: No se donde está esto y no se por que color cambiarlo*/
    border-radius: 0.25rem;
    cursor: pointer;
  }

.modal-body a {
  color: black;
}
  .modal-body a:hover {
    color: var(--neilit-1);
  }

#title {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
}

#document { }
  #document input {
    color: black;
  }

#scheme {
  width: 25%;
  max-width: 300px;
}
