/* || General styles */
ul { }
  ul li {
    list-style-type: none;
  }

input { }
  input.form-control {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
  }
    input.form-control:focus {
      background-color: #f7f7f7;
      box-shadow: none;
      border-color: #f7f7f7;
    }

.journal-box {
  padding: 15px 20px;
  border-radius: 5pt;
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}
  .journal-box h3 {
    font-size: 1.25rem;
  }
  .journal-box hr {
    margin-top: 0;
  }
  .journal-box a {
    color: #fff;
  }
    .journal-box a:hover {
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
  .journal-box input {
    color: #ff8818;
    border-radius: .25rem;
  }
  .journal-box .dropdown-item {
    color: #000;
  }
    .journal-box .dropdown-item:hover {
      color: #000;
    }
    .journal-box .dropdown-item:active {
      color: #fff;
      background-color: #ff8818;
    }


.plan-box {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: .25em;
}

/* || Bootstrap class */
.list-group .list-group-item {
  color: #000;
  border-color: #ff8818;
}
.list-group .list-group-item.active {
  color: #fff!important;
  background-color: #ff8818!important;
}
  .list-group .list-group-item:hover {
    color: #000;
    background-color: #f7f7f7;
  }

/* || Custom checkbox */
.checkbox-orange {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .checkbox-orange input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
    .checkbox-orange:hover input ~ .checkmark {
      background-color: #EEEEEE;
    }
    .checkbox-orange input:checked ~ .checkmark {
      background-color: #FF8818;
    }
    .checkbox-orange input:checked ~ .checkmark:after {
      display: block;
    }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  height: 15px;
  width: 15px;
  border: 2px solid #FF8818;
  border-radius: 2px;
}
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

/* || Bootstrap class */
.dropdown-toggle { }
  .dropdown-toggle:focus {
    outline: none;
  }

/* || Bootstrap class */
.dropdown-divider {
  margin: 0;
}

/* || Bootstrap class */
.input-group-append { }
  .input-group-append button {
    color: #fff;
    background-color: #ff8818;
    border: 1px solid #ff8818;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

.diveditable {
  color: black;
}
  .diveditable:focus {
    color: black;
    background-color: #f7f7f7;
    border-radius: .25rem;
    outline: none;
  }
  .diveditable[placeholder]:empty:before {
    content: attr(placeholder);
    color: darkGray;
  }
  .diveditable[placeholder]:empty:focus:before {
    content: "";
  }


#title {
  font-size: 26px;
  font-weight: 500;
  color: #000;
}

#document { }
  #document input {
    color: #000;
  }

#scheme {
  width: 25%;
  max-width: 300px;
}
