/* || General styles */
ul { }
  ul li {
    list-style-type: none;
  }

ol {
  list-style: none;
  counter-reset: li;
  padding-left: 1.5em;
}
  ol li {
    counter-increment: li;
  }
    ol li::before {
      content: counter(li);
      color: var(--neilit-regular);
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

input { }
  input.form-control {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
  }
    input.form-control:focus {
      background-color: #f7f7f7;
      box-shadow: none;
      border-color: #f7f7f7;
    }

button.dropdown-select {
  border: 0;
  background-color: inherit;
  color: #7b7b7b;
}
  button.dropdown-select:hover {
    color: black;
  }

/* || Utilities */
.w-350 {
  width: 350px;
}

/* || Neilit color bullets */
.neilit-bullets {
  list-style: none;
  padding-left: 1.5em;
}
  .neilit-bullets li::before {
    content: "\25E6";
    color: var(--neilit-regular);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

/* || Neilit numbered list */
.neilit-numbers { }
  .neilit-numbers li::before {
    width: 1.5em;
    height: 1.5em;
    word-spacing: 32px;
    background-color: var(--neilit-regular);
    color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-left: -1.5em;
  }

.journal-box {
  padding: 15px 20px;
  border-radius: 5pt;
  background-color: var(--background-medium);
  box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -webkit-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -moz-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
}
  .journal-box h3 {
    font-size: 1.25rem;
  }
  .journal-box hr {
    margin-top: 0;
  }
  .journal-box a {
    color: #fff;
  }
    .journal-box a:hover {
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
  .journal-box input {
    color: #ff8818;
    border-radius: .25rem;
  }
  .journal-box .dropdown-item {
    color: #000;
  }
    .journal-box .dropdown-item:hover {
      color: #000;
    }
    .journal-box .dropdown-item:active {
      color: #fff;
      background-color: #ff8818;
    }

.plan-box {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  padding: .25em;
}

/* || Custom checkbox */
.checkbox-orange {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .checkbox-orange input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
    .checkbox-orange:hover input ~ .checkmark {
      background-color: #EEEEEE;
    }
    .checkbox-orange input:checked ~ .checkmark {
      background-color: #FF8818;
    }
    .checkbox-orange input:checked ~ .checkmark:after {
      display: block;
    }

.dropdown { }
  .dropdown button:hover, .dropdown button:focus {
    border: none;
    outline: 0;
  }

.dropdown-menu {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -moz-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
}
  .dropdown-menu li {
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: #7b7b7b;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
  }

  .dropdown-menu li:hover {
    background-color: #f7f7f7;
    color: black;
  }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  height: 15px;
  width: 15px;
  border: 2px solid #FF8818;
  border-radius: 2px;
}
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

/* || Bootstrap class */
.dropdown-toggle { }
  .dropdown-toggle:focus {
    outline: none;
  }

/* || Bootstrap class */
.dropdown-divider {
  margin: 0;
}

/* || Bootstrap class */
.input-group-append { }
  .input-group-append button {
    font-size: 16px;
    color: #fff;
    background-color: #ff8818;
    border: 1px solid #ff8818;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

.diveditable {
  color: black;
}
  .diveditable:focus {
    color: black;
    background-color: #f7f7f7;
    border-radius: .25rem;
    outline: none;
  }
  .diveditable[placeholder]:empty:before {
    content: attr(placeholder);
    color: darkGray;
  }
  .diveditable[placeholder]:empty:focus:before {
    content: "";
  }

.strategy-title {
  color: #ff8818;
  border: 1px solid #ff8818;
  border-radius: .25rem;
  padding: 0.25rem 0.5rem;
}

/* || Show plan highlight */
.user-field {
  padding: 0em 0.25em;
}
  .user-field:hover {
    background-color: #f5bc87;
    border-radius: 0.25rem;
    cursor: pointer;
  }

.modal-body a {
  color: #000000;
}
  .modal-body a:hover {
    color: #ff8818;
  }

#title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
}

#document { }
  #document input {
    color: var(--neilit-regular);
  }
  #document button.dropdown-select {
    color: var(--neilit-regular);
  }
  #document .diveditable {
    color: var(--neilit-regular);
  }

#dd-objectives .dropdown-item:active {
  color: var(--neilit-regular);
  background-color: white;
}

#plan-title {
  border-bottom: 1px solid var(--neilit-regular);
}

::-webkit-scrollbar {
  display: none;
}
