@font-face { font-family: Nunito; src: url("../fonts/Nunito-Regular.ttf");}
@font-face { font-family: Nunito; src: url("../fonts/Nunito-SemiBold.ttf"); font-weight: 500;}


body {
  font-family: Nunito;
}

hr {
  border:none;
  height:2px;
  background-color: #00000033;
}

.underline {
  border-bottom: 2px solid #00000033;
}

.settings-sections{
  text-align: center;
  font-size: 21px/27px;
  letter-spacing: 0;
  color: #7B7B7B;
  opacity: 1;
  text-decoration: none!important;
}

.settings-sections:hover{
  text-align: center;
  font-size: 21px/27px;
  font-weight: 500;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.avatar {
  width: 150px;
}

.anchor-avatar {
  text-align: center;
  font-size: 21px/27px;
  letter-spacing: 0;
  color: #7B7B7B!important;
  text-decoration: none!important;
  opacity: 1;
}

.settings-header {
  text-align: left;
  font-size: 21px/28px;
  font-weight: 500;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.settings-fields {
  text-align: left;
  font-size: 21px/28px;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.settings-info {
  text-align: left;
  font-size: 21px/28px;
  letter-spacing: 0;
  color: #7B7B7B;
  opacity: 1;
}
