:root{
  --grey-flojo: #F7F7F7;
  --grey-medio: #EEEEEE;
  --grey-fuerte: #E5E5E5;
  --grey-texto: #7B7B7B;
  --red-fuerte: #EE0000;
  --blue-primario: #007BFF;
}

/* || General styles */
h4 {
  font-size: 18px;
  border-bottom: 2px solid #EEEEEE;
}
  h4 a {
    font-size: 14px;
    color: #7b7b7b;
    transition-duration: .25s;
  }
  h4 a:hover {
    color: black;
    transition-duration: .25s;
  }

h5 {
  font-size: 16px;
}

a {
  color: var(--orange);
}
  a:hover {
    color: var(--orange-fuerte);
    text-decoration: none;
  }
  a.nav-link {
    color: var(--grey-texto);
    padding: 2px 15px 0 15px;
    font-size: 16px;
    border-bottom: 2px solid white;
  }

    a.nav-link:hover {
      color: black;
      border-bottom: 2px solid var(--grey-fuerte);
      background-color: white !important;
    }

    a.nav-link.active {
      background: white;
      color: var(--orange);
      border-bottom: 2px solid var(--orange);
    }

li {
  color: #7b7b7b;
  padding: 3px 5px;
  border-radius: 0px !important;
  list-style-type: none;
}
  li:hover{
    background-color: #f7f7f7;
    color: black;
  }

input {
    padding: 5px 10px;
    border-radius: .25rem;
    background: #f8f8f8;
}
  input:checked + .slider {
    background-color: #FF8818;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #FF8818;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

hr.profile {
  background: red;
  border: 1px solid var(--grey-medio);
  width: 100%;
  margin: 0;
}

#remaining-days{
  color: var(--grey-texto) !important;
}
  #remaining-days:hover{
    color: var(--orange);
    text-decoration: none;
  }

/* || Utility */
.bg-orange {
  background: #FF8818;
}
  .bg-orange a:hover {
    color: white!important;
    text-decoration: none;
  }

/* || Utility */
.grey {
  color: #7b7b7b;
}
  .grey a {
    color: #ff8818;
  }
  .grey a:hover {
    color: #f57700;
  }

.containerMenuSettings {
  width: 100%;
}

/* || Bootstrap class */
.nav-item {
  margin: 0 3px 0 3px;
}

.container-info-settings {
  padding: 2px 4px 2px 4px;
}
  .container-info-settings:hover {
    border-radius: 7px;
    background: var(--grey-flojo);
  }

.tab-box {
  width: 850px;
  min-width: 850px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}
  .tab-box p {
    color: var(--grey-texto);
    padding: 3px 5px;
  }
    .tab-box p:hover {
      cursor: default;
    }
  .tab-box img {
    width: 100px;
  }
  .tab-box .img-sm{
    width: 20px;
    opacity: 0.5;
    transition-duration: 0.25s;
  }
    .tab-box .img-sm:hover {
      opacity: 1;
      transition-duration: 0.25s;
    }
  .tab-box .img-md {
    height: 40px;
    width: auto;
  }

/* || Profile picture */
.profile-picture {

}
  .profile-picture:hover {

  }

/* || Boton Logout */
.btn-logout {
  background: white;
  color: var(--red-fuerte);
  border-radius: 7px;
  border: 1px solid var(--red-fuerte);
  padding: 3px 15px;
}

.btn-logout:hover {
  background: var(--red-fuerte);
  color: white;
  border-radius: 7px;
  border: 2px solid var(--red-fuerte);
}

.containerOferta {
  border-radius: 7px 7px 0 0;
}

/* || Boton Settings Change plan */
.change-plan {
  padding: 3px 15px;
  border: 2px solid var(--orange);
  border-radius: 7px;
  transition-duration: .25s;
}
  .change-plan:hover {
    color: white;
    border: 2px solid var(--orange);
    background: var(--orange);
    transition-duration: .25s;
  }

.FAQ {
  color: #7b7b7b;
}
  .FAQ:hover {
    color: black;
  }

.invoice {
  color: #212529;
  border-radius: .25rem;
}
  .invoice:hover {
    background-color: #f7f7f7;
  }
  .invoice img {
    width: 30px;
    opacity: .3;
    transition-duration: .25s;
  }
    .invoice img:hover {
      opacity: .8;
      transition-duration: .25s;
    }

.invoice-clear {
  background: #cbf6e5;
  color: #45d69e;
  border-radius: .25rem;
}

.invoice-pending {
  background: #fce6e5;
  color: #fd5e74;
  border-radius: .25rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  -webkit-transition: .4s;
  transition: .4s;
  width: 40px;
  height: 25px;
}
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 7px;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}

.dropdown button:hover, .dropdown button:focus {
  border: none;
  outline: 0;
}

.dropdown-menu li {
  line-height: 1.5;
  letter-spacing: 0.7px;
  color: var(--grey-texto);
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
}

.dropdown-menu li:hover {
  background-color: var(--grey-flojo);
  color: black;
}

.info {
  transform: translateX(35px);
}

#listStrategy { }
  #listStrategy ul{
    border-radius: 7px;
  }
  #listStrategy li {
    font-size: 16px;
    border-radius: 7px;
  }
  #listStrategy button {
    background: none;
    border: none;
  }
  #listStrategy input {
    color: #7b7b7b;
    background: none;
  }
    #listStrategy input:focus {
      color: #000000;
    }

/*Custom dropdown*/
#dLabel {
border-radius: 7px;
border: 0;
text-align: left;
background-color: inherit;
color: var(--grey-texto);
}
  #dLabel:hover {
    color: black;
  }

#save {
  padding: 3px 15px;
  border: 2px solid var(--blue-primario);
  border-radius: 7px;
  transition-duration: .25s;
  background: white;
  color: var(--blue-primario);
}
  #save:hover {
    color: white;
    border: 2px solid var(--blue-primario);;
    background: var(--blue-primario);
    transition-duration: .25s;
  }

#initial-balance{
  width: 150px;
}
