:root {

  /* || LIGHT MODE & Base colors || */
  --grey-flojo: #F7F7F7; /*Soft*/
  --grey-medio: #EEEEEE; /*Medium*/
  --grey-fuerte: #E5E5E5; /*Strong*/
  --grey-texto: #7B7B7B; /*Just text*/
  --red-1: #FDDFDD; /*Soft*/
  --red-2: #EE0000; /*Strong*/
  --green-1: #CBF6E5; /*Soft*/
  --green-2: #4DAA57; /*Strong*/
  --yellow: #FFCF18; /*Warning*/
  --neilit-1: #FF8818; /*Original*/
  --neilit-2: #F57700; /*Strong*/
  --blue-1: #007BFF; /* */

  /* || DARK MODE || */
  /* Some colours are the same than the LIGHT MODE. We dont duplicate code.*/
  --white: #FFFFFF; /*Just text*/
  --black-1: #424242; /*Soft*/
  --black-2: #272727; /*Medium*/
  --black-3: #121212; /*Strong*/
}

/* || General styles */
h4 {
  font-size: 18px;
  border-bottom: 2px solid var(--grey-2);
}
  h4 a {
    font-size: 14px;
    color: var(--grey-text);
    transition-duration: .25s;
  }
  h4 a:hover {
    color: black;
    transition-duration: .25s;
  }

h5 {
  font-size: 16px;
}

a {
  color: var(--neilit-1);
}
  a:hover {
    color: var(--neilit-2);
    text-decoration: none;
  }
  a.nav-link {
    color: var(--grey-text);
    padding: 2px 15px 0 15px;
    font-size: 16px;
    border-bottom: 2px solid white;
  }

    a.nav-link:hover {
      color: black;
      border-bottom: 2px solid var(--grey-3);
      background-color: white !important;
    }

    a.nav-link.active {
      background: white;
      color: var(--neilit-1);
      border-bottom: 2px solid var(--neilit-1);
    }

li {
  color: var(--grey-text);
  padding: 3px 5px;
  border-radius: 0px !important;
  list-style-type: none;
}
  li:hover{
    background-color: var(--grey-1);
    color: black;
  }

input {
    padding: 5px 10px;
    border-radius: .25rem;
    background: var(--grey-1);
}
  input:checked + .slider {
    background-color: var(--neilit-1);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px var(--neilit-1);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

hr.profile {
  background: var(--red-2);
  border: 1px solid var(--grey-2);
  width: 100%;
  margin: 0;
}

#remaining-days{
  color: var(--grey-text) !important;
}
  #remaining-days:hover{
    color: var(--neilit-1);
    text-decoration: none;
  }

/* || Utility */
.bg-orange {
  background: var(--neilit-1);
}
  .bg-orange a:hover {
    color: white!important;
    text-decoration: none;
  }

/* || Utility */
.grey {
  color: var(--grey-text);
}
  .grey a {
    color: var(--neilit-1);
  }
  .grey a:hover {
    color: var(neilit-2);
  }

.containerMenuSettings {
  width: 100%;
}

/* || Bootstrap class */
.nav-item {
  margin: 0 3px 0 3px;
}

.container-info-settings {
  padding: 2px 4px 2px 4px;
}
  .container-info-settings:hover {
    border-radius: 7px;
    background: var(--grey-1);
  }

.tab-box {
  width: 850px;
  min-width: 850px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}
  .tab-box p {
    color: var(--grey-text);
    padding: 3px 5px;
  }
    .tab-box p:hover {
      cursor: default;
    }
  .tab-box img {
    width: 100px;
  }
  .tab-box .img-sm{
    width: 20px;
    opacity: 0.5;
    transition-duration: 0.25s;
  }
    .tab-box .img-sm:hover {
      opacity: 1;
      transition-duration: 0.25s;
    }
  .tab-box .img-md {
    height: 40px;
    width: auto;
  }

/* || Profile picture */
.profile-picture { }
  .profile-picture:hover { }

/* || Boton Logout */
.btn-logout {
  background: white;
  color: var(--red-2);
  border-radius: 7px;
  border: 1px solid var(--red-2);
  padding: 3px 15px;
}

.btn-logout:hover {
  background: var(--red-2);
  color: white;
  border-radius: 7px;
  border: 2px solid var(--red-2);
}

.containerOferta {
  border-radius: 7px 7px 0 0;
}

/* || Boton Settings Change plan */
.change-plan {
  padding: 3px 15px;
  border: 2px solid var(--neilit-1);
  border-radius: 7px;
  transition-duration: .25s;
}
  .change-plan:hover {
    color: white;
    border: 2px solid var(--neilit-1);
    background: var(--neilit-1);
    transition-duration: .25s;
  }

.FAQ {
  color: var(--grey-text);
}
  .FAQ:hover {
    color: black;
  }

.invoice {
  color: black;
  border-radius: .25rem;
}
  .invoice:hover {
    background-color: var(--grey-1);
  }
  .invoice img {
    width: 30px;
    opacity: .3;
    transition-duration: .25s;
  }
    .invoice img:hover {
      opacity: .8;
      transition-duration: .25s;
    }
  /* Invoice's status: Clear or Pending */
  .clear {
    background: #cbf6e5;
    color: #2c946c;
    border-radius: .25rem;
  }
  .pending {
    background: #fce6e5;
    color: #fd5e74;
    border-radius: .25rem;
  }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee;
  -webkit-transition: .4s;
  transition: .4s;
  width: 40px;
  height: 25px;
}
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

.dropdown { }
  .dropdown button:hover, .dropdown button:focus {
    border: none;
    outline: 0;
  }

.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 7px;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}
  .dropdown-menu li {
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: var(--grey-text);
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
  }
  .dropdown-menu li:hover {
    background-color: var(--grey-1);
    color: black;
  }

.info {
  transform: translateX(35px);
}

#listStrategy { }
  #listStrategy ul{
    border-radius: 7px;
  }
  #listStrategy li {
    font-size: 16px;
    border-radius: 7px;
  }
  #listStrategy button {
    background: none;
    border: none;
  }
  #listStrategy input {
    color: var(--grey-text);
    background: none;
  }
    #listStrategy input:focus {
      color: black;
    }

#listGoals { }
  #listStrategy ul{
    border-radius: 7px;
  }
  #listGoals li {
    font-size: 16px;
    border-radius: 7px;
  }
  #listGoals button {
    background: none;
    border: none;
  }
  #listGoals input {
    color: var(--grey-text);
    background: none;
  }
    #listGoals input:focus {
      color: black;
    }

/*Custom dropdown*/
#dd {
  border-radius: .25rem;
  border: 0;
  text-align: left;
  background-color: inherit;
  color: var(--grey-text);
}
  #dd:hover {
    color: black;
    background-color: #f7f7f7;
  }

#initial-balance{
  width: 150px;
}

/* || Btn Logout */
#logout {
  color: var(--red-strong);
  border-radius: .25rem;
  border: 2px solid var(--red-strong);
}
  #logout:hover {
    color: white;
    background: var(--red-strong);
  }
