:root {
  --grey-flojo: #F7F7F7;
  --grey-medio: #EEEEEE;
  --grey-fuerte: #E5E5E5;
  --grey-texto: #7B7B7B;
  --red-flojo: #FDDFDD;
  --red-fuerte: #EE0000;
  --green-flojo: #CBF6E5;
}

/* || Utility */
button {
  background: none;
  border: none;
}

/* || Tables utilities */
table{ }

tr {
  padding-bottom: 5px!important;
}

th {
  padding: 0!important;
}
  th:hover {
    cursor: default;
  }

td {
  padding: 5px!important;
}

/* Cambia el color al hacer hover en las tablas */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: var(--gris-flojo);
}
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th td {
    color: black;
  }

/* || Utility */
a:hover {
  text-decoration: none;
}

/* || Utility */
/* canvas {
  border-radius: 7px;
  transition-duration: .25s;
}
  canvas:hover {
    background-color: var(--gris-flojo);
    transition-duration: .25s;
  } */

/* || Utility */
.black-h1 {
  color: black;
  font-weight: 500!important;
}

/* || Utility */
.grey {
  color: #7b7b7b;
}
  .grey:hover {
      background-color:  var(--gris-flojo);
      border-radius: 7px;
      color: black;
  }
  .grey a {
    color: #7b7b7b;
  }
  .grey a:hover{
    color: black;
  }
  .grey:hover img{
    opacity: 1;
  }

/* || Utility */
.font-18{
    font-size: 18px;
  }

.font-16{
    font-size: 16px;
  }

.font-14{
  font-size: 14px;
}

/* || Utility */
.pill {
  padding: 1px 10px;
  border-radius: 7px;
}

.pill-verde {
  background: var(--green-flojo);
  color: green;
}

.pill-amarilla { }

.pill-roja {
  background: var(--red-flojo);
  color: red;
}

.pill-activo { }

.widget-tercio {
  width: 33.33%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}

.widget-50 {
  width: 50%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}

.widget-dos-tercios {
  width: 66.66%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}

.widget-100 {
  width: 100%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}

.superior-widget {
  border-bottom: 1px solid var(--gret-medio);
}
  .superior-widget h5 {
    font-size: 20px;
  }

.imagen-widget {
  width: 20px;
  height: auto;
  opacity: .6;
}

.imagen-widget-change {
  width: 25px;
  height: auto;
  opacity: .6;
  border-radius: 7px;
  transition-duration: .25s;
}
  .imagen-widget-change:hover {
    opacity: 1;
    transition-duration: .25s;
    cursor: pointer;
  }
  .active-change {
    background: var(--grey-flojo);
  }
    .active-change img {
      opacity: 1!important;
    }

.imagen-widget-grande {
  width: 25px;
}

.opacity-1 {
  opacity: 1;
}

.background-change {
  border-radius: 7px;
}
  .background-change:hover {
    background-color: var(--grey-flojo);
  }

.caret {
float: right;
margin-top: 9px;
display: block;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 7px;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}

.dropdown button:hover, .dropdown button:focus {
  border: none;
  outline: 0;
}

.dropdown-menu li {
  line-height: 1.5;
  letter-spacing: 0.7px;
  color: var(--grey-texto);
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
}

.dropdown-menu li:hover {
  background-color: var(--grey-flojo);
  color: black;
}

.container-user-goals a {
  color: var(--grey-texto);
}
.container-user-goals a:hover {
  color: black;
}

.inferior-widget {
  border-top: 1px solid var(--grey-medio);
  position: relative;
  bottom: 0px;
}

.custom-stats-soon { }

#dLabel { }
  #dLabel:hover {
    color: black;
  }
