:root {
  --red-soft: #fddfdd;
  --green-soft: #cbf6e5;

}

/* || Utility */
button {
  background: none;
  border: none;
}

input[type="date"]:focus {
  outline: none;
  box-shadow: none;
}

tr {
  padding-bottom: 5px!important;
}

th {
  color: var(--invert-black);
  padding: 0!important;
}
  th:hover {
    cursor: default;
  }

td {
  color: var(--invert-black);
  font-weight: 200;
  padding: 5px!important;
}

hr {
  border-color: var(--grey-medium);
}

/* Cambia el color al hacer hover en las tablas */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: var(--background-hover);
}

/* || Utility */
a:hover {
  text-decoration: none;
}

/* || Utility */
.no-wrap {
  white-space: nowrap;
}

/* || Utility */
.placeholder-stats {
  margin: 0px auto;
  color: var(--red-strong);
}

/* || Utility */
.grey {
  color: var(--text-grey);
}
  .grey:hover {
      color: var(--invert-black);
  }
  .grey a {
    color: #7b7b7b;
  }
  .grey a:hover {
    color: black;
  }
  .grey:hover img {
    opacity: 1;
  }

/* || JQuery UI class */
.ui-datepicker {
  background: var(--background-strong);
  border-radius: .25rem;
  box-shadow: 0 3px 6px var(--box-shadow);
  padding: 10px 10px;
}

.ui-datepicker-title {
  text-align: center;
  font-weight: 500;
}

.ui-datepicker-prev {
  display: block;
  text-align: center;
  border-radius: .25rem;
}
  .ui-datepicker-prev:hover {
    background: var(--background-hover);
    cursor: pointer;
  }

.ui-datepicker-next {
  display: block;
  text-align: center;
  border-radius: .25rem;
}
  .ui-datepicker-next:hover {
    background: var(--background-hover);
    cursor: pointer;
  }

.ui-state-default {
  color: var(--text-grey);
}
  .ui-state-default:hover {
    color: var(--invert-black);
  }

/* || Utility */
.font-18 {
    font-size: 18px;
  }

.font-16 {
    font-size: 16px;
  }

.font-14 {
  font-size: 14px;
}

/* || Utility */
.pill {
  padding: 1px 10px;
  border-radius: 7px;
}

.pill-verde {
  background: var(--green-soft);
  color: green;
}

.pill-amarilla { }

.pill-roja {
  background: var(--red-soft);
  color: red;
}

.pill-activo { }

.container-global {
  max-width: 1000px;
  /* background: red; */
}

.widget-three {
  width: 33.33%;
  border-radius: 5pt;
  -webkit-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -moz-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
}

.widget-three-2 {
  width: 66.66%;
  border-radius: 5pt;
  -webkit-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -moz-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
}

.widget-one {
  width: 100%;
  border-radius: 5pt;
  -webkit-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -moz-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
}

.superior-widget {
  border-bottom: 1px solid var(--gret-medio);
}
  .superior-widget h5 {
    font-size: 20px;
  }

.image-widget {
  width: 20px;
  height: auto;
  opacity: .6;
}
  .dark-mode .image-widget {
    filter: invert();
  }

.active-change {
  background: var(--background-hover);
}
  .active-change img {
    opacity: 1!important;
  }

.image-widget-grande {
  width: 25px;
}

.caret {
  float: right;
  margin-top: 9px;
  display: block;
}

.dropdown-menu {
  padding: 0;
  margin: 0;
  background-color: var(--background-medium);
  border-radius: 7px;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  -moz-box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
  box-shadow: 0px 1px 4px 0.5px var(--box-shadow);
}
  .dropdown button:hover, .dropdown button:focus {
    border: none;
    outline: 0;
  }
  .dropdown-menu li {
    line-height: 1.5;
    letter-spacing: 0.7px;
    color: var(--text-grey);
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
  }
    .dropdown-menu li:hover {
      background-color: var(--background-hover);
      color: var(--invert-black);
    }
    .dropdown-menu li button {
      width: 100%;
      line-height: 1.5;
      text-align: left;
      letter-spacing: 0.7px;
      color: var(--text-grey);
      font-size: 16px;
      cursor: pointer;
      padding: 0;
    }
      .dropdown-menu li button:hover {
        background-color: var(--background-hover);
        color: var(--invert-black);
      }

.modal-body { }
  .modal-body input {
    color: var(--invert-black);
    background-color: var(--background-strong);
  }
    .modal-body input:focus {
      color: var(--invert-black);
      background-color: var(--background-strong);
      border-color: var(--invert-black);
    }

.container-user-goals a {
  color: var(--text-grey);
}
  .container-user-goals a:hover {
    color: black;
  }

.neilit-widget {
  background-color: var(--background-medium);
}

.data-widget {
  color: var(--invert-black);
  font-weight: 500;
}

.coming-soon { }
  .coming-soon p {
    font-weight: 200;
  }


#dd {
  border-radius: .25rem;
  border: 0;
  background-color: inherit;
  color: var(--text-grey);
}
  #dd:hover {
    color: var(--invert-black);
    background-color: var(--background-hover)
  }
