/* FIXME: It's possible to clean the CSS code from this line till line number:  ________ */
:root {
  --grey-flojo: #F7F7F7;
  --grey-medio: #EEEEEE;
  --grey-fuerte: #E5E5E5;
  --grey-texto: #7B7B7B;
  --red-flojo: #FDDFDD;
  --red-fuerte: #EE0000;
  --soft-yellow: #fff3cd;
  --hard-yellow: #856404;
  --azul-primario: #007BFF;
  --green-flojo: #CBF6E5;
  /* || LIGHT MODE & Base colors || */
  --grey-1: #F7F7F7; /*Soft*/
  --grey-2: #EEEEEE; /*Medium*/
  --grey-3: #E5E5E5; /*Strong*/
  --grey-text: #7B7B7B; /*Just text*/
  --red-1: #FDDFDD; /*Soft*/
  --red-2: #EE0000; /*Strong*/
  --green-1: #CBF6E5; /*Soft*/
  --green-2: #008000; /*Strong*/
  --yellow: #FFCF18; /*Warning*/
  --neilit-1: #FF8818; /*Original*/
  --neilit-2: #F57700; /*Strong*/
  --blue-1: #007BFF; /* */

  /* || DARK MODE || */
  /* Some colours are the same than the LIGHT MODE. We dont duplicate code.*/
  --white: #FFFFFF; /*Just text*/
  --black-1: #424242; /*Soft*/
  --black-2: #272727; /*Medium*/
  --black-3: #121212; /*Strong*/
}

/* || Utility */
tr{

}
  tr:hover{
    cursor: pointer;
  }

/* || Utility */
button {
  background: none;
  border: none;
}

/* || Utility */
a:hover {
  text-decoration: none;
}

/* || Utility || */
.w-33{
  width: 33%;
}

/* || Utility */
.white{
  color: white;
}

/* || Utility */
.container-global{
  max-width: 1000px;
}

/* || Utility */
.font-16{
    font-size: 16px;
  }

/* || Utility */
.grey {
  color: var(--grey-text);
}
  .grey:hover {
      background-color:  var(--grey-1);
      border-radius: 7px;
      color: black;
  }
  .grey a {
    color: var(--grey-text);
  }
  .grey a:hover{
    color: black;
  }
  .grey:hover img{
    opacity: 1;
  }

.imagen-widget {
  width: 20px;
  height: auto;
  opacity: .6;
}

.imagen-widget-change {
  width: 25px;
  height: auto;
  opacity: .6;
  border-radius: 7px;
  transition-duration: .25s;
}
  .imagen-widget-change:hover {
    opacity: 1;
    transition-duration: .25s;
    cursor: pointer;
  }

.imagen-widget-grande {
  width: 25px;
}

/* || Utility */
.pill {
  padding: 1px 10px;
  border-radius: 7px;
}

.pill-verde {
  background: var(--green-1);
  color: var(--green-2);
}

.pill-yellow {
  background: var(--soft-yellow);
  color: var(--hard-yellow);
}

.pill-roja {
  background: var(--red-1);
  color: var(--red-2);
}

.pill-activo { }

.dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 7px;
  border: none;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}

.dropdown button:hover, .dropdown button:focus {
  border: none;
  outline: 0;
}

.dropdown-menu li {
  line-height: 1.5;
  letter-spacing: 0.7px;
  color: var(--grey-text);
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
}

.dropdown-menu li:hover {
  background-color: var(--grey-1);
  color: black;
}

.container-updates{
  background: var(--neilit-1);
}
  .container-updates h5{
    color: white;
  }

.widget-100{
  width: 100%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}

.widget-tercio {
  width: 33.33%;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
}

.features-text{
  color: white;
  font-size: 16px;
}

.btn{
  padding: 3px 15px;
  border: 2px solid white;
  border-radius: 7px;
  transition-duration: .25s;
  background: white;
  color: var(--neilit-1);
}
  .btn:hover{
    background: white;
    color: var(--neilit-1);
    transition-duration: .25s;
    -webkit-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px 0.5px rgba(0,0,0,0.2);
  }

.btn-second{
  padding: 3px 15px;
  border: 2px solid var(--neilit-1);
  border-radius: 7px;
  transition-duration: .25s;
  color: white;
}
  .btn-second:hover{
    color: white;
    border: 2px solid var(--neilit-1);
    text-decoration: underline;
    transition-duration: .25s;
  }

.pill-direction{
  width: 100px;
}

.progress-bar-orange{
  background-color: var(--neilit-1);
}

.inferior-widget {
  border-top: 1px solid var(--grey-2);
  position: relative;
  bottom: 0px;
}

.black-h1 {
  color: black;
  font-weight: 500;
}

#dLabel { }
  #dLabel:hover {
    color: black;
  }
