<%- include("../../partials/header-plan") %>

  <!-- CONTENT -->
  <section id="new-plan">
    <div class="container mt-3 mx-auto">
      <div class="journal-box px-0">
        <form action="" method="POST">
          <input id="title" class="mx-3" type="text" name="title" placeholder="Title for the Trading Plan">
          <hr>
          <div class="d-flex justify-content-between mx-3">
            <div class="">
              <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
                <h4 id="item-1">Item 1</h4>
                <p>...</p>
                <h5 id="item-1-1">Item 1-1</h5>
                <p>...</p>
                <h5 id="item-1-2">Item 1-2</h5>
                <p>...</p>
                <h4 id="item-2">Item 2</h4>
                <p>...</p>
                <h4 id="item-3">Item 3</h4>
                <p>...</p>
                <h5 id="item-3-1">Item 3-1</h5>
                <p>...</p>
                <h5 id="item-3-2">Item 3-2</h5>
                <p>...</p>
              </div>
            </div>
            <div class="scheme">
              <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
              </div>
            </div>
          </div>
          <div class="d-flex mx-3 mt-3">
            <a class="btn btn-danger">Some Btn</a>
          </div>
        </form>
      </div>
    </div>
  </section>

<!-- <section> is inside partials -->
</section>

<%- include("../../partials/footer-plan") %>
