<%- include("../../partials/header-plan") %>

  <!-- CONTENT -->
  <section id="">
    <div class="container mt-3 mb-5 mx-auto">
      <div class="journal-box px-3">
        <h2>Mi primer plan de acción en Neilit</h2>
        <br>
        <h4>General Information</h4>
        <div>
          <ul class="px-0">
            <li>
              <label class="mr-1 font-weight-bold">Broker:</label>
              <span class="user-field">KRAKEN</span>
            </li>
            <li>
              <label class="mr-1 font-weight-bold">Charts:</label>
              <span class="user-field">KRAKEN</span>
            </li>
            <li>
              <label class="mr-1 font-weight-bold">Capital:</label>
              <span class="user-field">KRAKEN</span>
            </li>
            <li>
              <label class="font-weight-bold mb-0">Business Routine:</label>
              <p>Bacon ipsum dolor amet short loin flank landjaeger beef ribs t-bone, pastrami short ribs sausage bacon shank pancetta cow filet mignon jowl frankfurter. Ham hock turducken hamburger flank capicola pork loin chicken fatback. T-bone turkey doner, pig pancetta pork chop tenderloin shankle alcatra cow bacon. Chuck sirloin hamburger, tri-tip meatloaf boudin cupim ribeye. Swine turkey frankfurter hamburger flank, t-bone tri-tip. Salami andouille sirloin ground round, meatloaf sausage turkey flank alcatra cow porchetta tail corned beef picanha ball tip.</p>
            </li>
          </ul>
        </div>
        <br>
        <h4>Psychology</h4>
        <div>
          <ul class="px-0">
            <li>
              <label class="font-weight-bold mb-0">Psychology Notes:</label>
              <p>Bacon ipsum dolor amet short loin flank landjaeger beef ribs t-bone, pastrami short ribs sausage bacon shank pancetta cow filet mignon jowl frankfurter. Ham hock turducken hamburger flank capicola pork loin chicken fatback. T-bone turkey doner, pig pancetta pork chop tenderloin shankle alcatra cow bacon. Chuck sirloin hamburger, tri-tip meatloaf boudin cupim ribeye. Swine turkey frankfurter hamburger flank, t-bone tri-tip. Salami andouille sirloin ground round, meatloaf sausage turkey flank alcatra cow porchetta tail corned beef picanha ball tip.</p>
            </li>

          </ul>

        </div>
      </div>

    </div>
  </section>

<!-- <section> is inside partials -->
</section>

<%- include("../../partials/footer-plan") %>
